[2019-03-08 15:23] james-sungjae-lee opened #1 "AWS Connection on Jetson TX1 / TX2"
Jetson TX1 / TX2 와 AWS 를 연결하기 위한 방법은 2가지를 고려할 수 있다.
1. Jetson TX1 / TX2 의 Face Detection 코드 내부에서 AWS SDK for C++ 을 사용하는 것
2. Jetson TX1 / TX2 의 Local Img Dir 에서 Trigger 를 이용하여 AWS CLI 를 사용하는 것

이곳에서는 해당 구현사항의 진행과정 및 이슈에 대해 정리한다.

[2019-03-09 05:07] Jisoo-Min opened #2 "EC2와 RDS 연결하기"
RDS에 데이터 올려보고
EC2인스턴스에서 RDS데이터 받아오는 것 완료하기

[2019-03-09 05:08] Jisoo-Min opened #3 "XGBoost 구현하면서 발생하는 문제점과 해결방법"
XGboost알고리즘 사용하면서 발생하는 문제점과 해결방법 공유

[2019-03-09 05:09] Jisoo-Min commented on #3
IndexError : tuple index out of range
-> 인풋에 들어갈 array의 형태가 안맞아서 생기는 문제 해결하기

![](https://user-images.githubusercontent.com/24731075/51436131-5bc32d00-1cca-11e9-9174-b9517026a870.png)

[2019-03-09 07:14] aaa0265 commented on #3
model을 만들기 위한 과정 중 fit()에 들어가야하는 파라미터는 input과 output이다.
여기서 input과 output의 형태가 중요

1. 오류가 났던 data type은 series(1차원 리스트 형태) : 몇 개의 데이터가 한 개로 묶이는지 알 수 없다.
![1](https://user-images.githubusercontent.com/26623522/54067644-c08c1400-4285-11e9-91aa-93f6a26bb6b6.png)
![2](https://user-images.githubusercontent.com/26623522/54067662-e9aca480-4285-11e9-8839-b177c6f4d92a.png)

2.  data type을 DataFrame으로 만들어준다

[2019-03-10 03:01] Jisoo-Min opened #6 "GitHub 사용하면서 발생하는 문제"
github 공동작업하면서 발생하는 error 등등 공유하기

[2019-03-10 05:12] Jisoo-Min commented on #2
1. RDS 인스턴스 생성
![스크린샷 2019-03-10 오후 2 28 12](https://user-images.githubusercontent.com/24731075/54081036-c7c42800-4340-11e9-8f8c-2299f3349caa.png)

2. RDS 접속
`mysql --host=[엔드포인트] --port=[포트넘버] --user=[마스터사용자] --password=[마스터암호]`

3. EC2접속
Ubuntu image 사용해서 생성
`ssh -i pem키 ubuntu@[IPv4 퍼블릭 IP 또는  퍼블릭 DNS]`

[2019-03-10 05:15] Jisoo-Min commented on #2
* 주의사항
pem은 region마다 존재하니
같은 region에서 pem과 ec2가 작동

[2019-03-10 05:25] Jisoo-Min commented on #2
ec2에서 rds접속하려면 rds보안그룹 인바운드 규칙에 ec2 보안 그룹이 설정되어있어야함.

우리의 경우 ec2에서 mysql로 rds 에 연결해야하니
![스크린샷 2019-03-10 오후 2 22 29](https://user-images.githubusercontent.com/24731075/54081002-0d342580-4340-11e9-8bbf-c3c2b2387a6f.png)
MYSQL유형에 소스를 EC2 인스턴스에 적용한 보안그룹ID를 추가해야함

+) 추가로 EC2에서는 외부인 접근 방지를 위해
인바운드 규칙에서 SSH접근을 내ip로 지정하여, 접속가능한 환경에서 미리 추가해서 사용하기!!!

[2019-03-10 05:33] Jisoo-Min commented on #2
**ec2인스턴스에서 파이썬으로 rds데이터 가져오는 process**
[ec2-rds mysql.pdf](https://github.com/kookmin-sw/2019-cap1-2019_4/files/2949087/ec2-rds.mysql.pdf)

[2019-03-10 05:34] Jisoo-Min opened #8 "Collaborative Filtering 구현하면서 발생한 문제점과 해결방법"
Collaborative Filtering 구현시 발생한 문제점과 해결방법 공유하기

[2019-03-10 09:57] james-sungjae-lee opened #10 "Jetson TX1 Setting"
기본적인 TX1 의 세팅 방법은 다음과 같으며, 설치 과정중의 네트워크, Post Installation 이슈의 해결에 대해 작성하였다.

1. Nvidia Jetpack 을 Host PC 에 다운로드

2. Chmod +x 로 Jetpack 실행파일에 보안 권한 부여

3. Jetpack 실행

4. Device 를 Jetson TX1 으로 선택

5. 관련 패키지 전체 설치 및 라이센스 Accept All 지정. 해당 패키지 전체 용량은 15GB

6. 패키지 다운로드 완료 후, Host PC 와 Jetson TX1 모듈을 동일 이더넷 네트워크로 연결
  6-1 . iptime 공유기를 새로 사용하는 경우, 드라이버로 네트워크를 잡아줘야 함. 해당 설정은 window 운영체제에서만 가능.
  6-2. 이

[2019-03-10 09:59] james-sungjae-lee opened #11 "Jetson TX2 CUDA TOOLKIT ROOT DIR Error"
Jetson TX2 를 TX1 과 동일하게 세팅한 다음, Jetson-Inference 깃의 튜토리얼을 진행하던 중

jetson-inference/build 디렉토리에서 cmake ../ 명령어를 쳤을 때 다음과 같은 에러가 발생하였다.

CUDA_TOOLKIT_ROOT_DIR not found or specified

그 이후, make 를 통해 다양한 camera / console 프로그램을 build 하는 과정에서 makefile 이 존재하지 않아 문제가 생긴다.

이에 대한 근본적 해결책은 CUDA TOOLKIT 의 디렉토리를 확인하고 cmake 명령어를 에러 없이 실행시키는 것이다.

[2019-03-10 10:09] james-sungjae-lee commented on #6
Github 에 odobenuskr 계정이 아닌, Sungjae 계정으로 올라감.

terminal 에서의 작업 과정은 다음과 같음

git clone https://github.com/kookmin-sw/2019-cap1-2019_4

git pull
git checkout -b face_testcode
git add .
git commit -m 'aws cpp testcode'
git push origin face_testcode

예상되는 원인으로는, local PC 에 다른 github 계정이 존재하여, branch 가 생성되고 push 된 것으로 생각해볼 수 있음. 원인을 확인하기 위해 다른 github repo 에 동일한 환경에서 master push / branch push 를 테스트해볼 필요가

[2019-03-10 10:58] HSOOJ commented on #6
master push를 제한한 상태에서 직접 master에 push해서 에러 발생

![github error](https://user-images.githubusercontent.com/20984428/54083940-c5c48e00-436d-11e9-9006-64025a6eda14.png)

해결
- Branch를 생성하여 pull request를 한 후 git merge 해서 git push 완료

[2019-03-10 11:05] HSOOJ commented on #11
error 내용
![jetson error](https://user-images.githubusercontent.com/20984428/54084082-a169b100-436f-11e9-83e7-705313cf2b16.png)

[2019-03-10 11:42] HSOOJ commented on #11
Jetson TX2 에 Jetpack 재설치 중 CUDA cannot be installed ~ may be caused by other apt-get command running 문제의 발생
- https://devtalk.nvidia.com/default/topic/993713/jetson-tx1/error-cuda-cannot-be-installed-on-device-/
- Jetpack 실행 파일의 priority 가 높아 발생하는 문제로 보이며, `chmod 711 JetPack-L4T-2.3.1-linux-x64.run` 을 통해 보안 수준을 바꾸어 문제를 해결해볼 수 있겠음 ( 또는 Reference 와 동일하게 chmod +x 를 이용함 )
---
JetPack 에서의 일부에서만 Progres

[2019-03-10 11:46] HSOOJ commented on #11
작업중 새롭게 Determining the ip address of target 에러 발생
ethernet connection 과정에서 TX2 와 Host PC 두 가지 모두 선택하는 창이 떴는데,
이러한 이유로 해당 에러가 발생한 것과 관련이 있을지 모름

ethernet 이 한 번 연결되고 나면 해당 ethernet 에 대한 정보가 남아 쌓이게 됨
이로 인해 어떤 ethernet 이 현재 연결된 상태인지 확인할 수 없는 상황이 발생

network 연결을 정확하게 확인한 다음 다시 시도해볼 필요 있음
에러와 관련된 링크
- https://devtalk.nvidia.com/default/topic/1025988/jetson-tx2/tx2-target-installation-stopped-in-quot-de

[2019-03-10 11:53] HSOOJ opened #12 "AWS SDK with C++ language"
FaceNet 등으로 Bounding Box 가 만들어진 다음,

해당 영역의 Photo를 Crop 하여 AWS S3 쪽으로 전달하기 위해서

AWS SDK with CPP 에 대한 연동 코드가 필요
- https://docs.aws.amazon.com/sdk-for-cpp/v1/developer-guide

해당 AWS SDK document 를 통해 연동 코드의 작성법을 이해하고 코드 작성하기

[2019-03-11 06:30] HSOOJ commented on #12
AWS SDK for C++ 한글화

예제 코드
<https://github.com/awsdocs/aws-doc-sdk-examples/tree/master/cpp>

우분투에서의 기본 패키지 설치
`sudo apt-get install libcurl4-openssl-dev libssl-dev uuid-dev zlib1g-dev libpulse-dev`

AWS-CPP 연동을 위해서는 기본 SDK 코드를 가져와야 한다

방법 3의 상세 내용

그 이후에는 AWS 자격 증명의 설정이 필요함

[2019-03-11 07:09] aaa0265 commented on #2
ec2에 연결한 뒤 python을 사용하기 위한 환경설정을 해야합니다.

[ec2_python_환경설정.pdf](https://github.com/kookmin-sw/2019-cap1-2019_4/files/2951007/ec2_python_.pdf)

[2019-03-11 14:40] #2 closed, assigned to Jisoo-Min, aaa0265, wldud8463

[2019-03-11 14:40] Jisoo-Min opened #14 "feature생성 과정에서 발생하는 문제"
feature를 생성하면서 발생하는 문제들 공유

[2019-03-12 04:05] wldud8463 commented on #14
구매자가 해당 제품을 몇번 구매하는지 count 하는 변수 quantity를 만드는데 while문이 너무 오래걸림. 반복문을 사용하지 않을 방법이 필요.
<img width="1124" alt="스크린샷 2019-03-12 오후 1 02 24" src="https://user-images.githubusercontent.com/48198249/54173976-86aa5000-44c7-11e9-941d-ab50a9a67fd3.png">

[2019-03-12 07:21] HSOOJ commented on #12
C++용 AWS SDK를 사용하는 응용프로그램은 초기화해야함

[code]

SDK 옵션 설정

Aws :: SDKOptions 인스턴스가 Aws::InitAPI, Aws::ShutdownAPI 메서드에 전달되는데 그 두개가 동일해야함

[code]

s3 예제코드

- <https://docs.aws.amazon.com/sdk-for-cpp/v1/developer-guide/examples-s3.html>

[2019-03-12 07:37] Jisoo-Min commented on #14
`num_product_per_user = pd.DataFrame({'count' : prior_and_orders.groupby( [ "user_id", "product_id"] ).size()}).reset_index()`

이런식으로 groupby해서 하면 유저 당 product 몇 번 구매했는지 나온다!!

[2019-03-19 11:21] HSOOJ commented on #12
CMake로 응용 프로그램 빌드하기
- CMake은 makefile을 만들 수 있는 빌드 도구

프로젝트 설정
1. 소스파일을 저장할 디렉토리 만들기
[code]
2. 디렉토리를 열고 CMakeList.txt에 추가하기
   (프로젝트 이름, 실행파일, 소스 파일, 라이브러리 링크)
[code]

CMake 튜토리얼
- https://cmake.org/cmake-tutorial/

CMAKE_PREFIX_PATH 설정 (선택 사항)
- CMake는 aws-sdk-cpp-config.cmake의 위치를 알아야함
- CMAKE_PREFIX_PATH를 하면 응용프로그램을 다시 빌드할때마다 경로를 입력할 필요 없음

설정 방법(linux)
`export CMAKE_PREFIX_PATH=/path/to/sdk_bui

[2019-03-20 13:28] Jisoo-Min opened #17 "Data Analysis - test data에서 add_to_cart feature이 없음"
데이터 분석 중 특이한 것이나 새로운 아이디어 노트

[2019-03-20 13:30] Jisoo-Min commented on #17
add to cart 에서
어떤 유저가 제품 6개를 구매했다면
add to cart 는 1 2 3 4 5 6이 존재했을 것인데

이 중 없어진 것이 있는지 확인해 볼 필요가 있음

예를 들어 특정 user_id 와 order_id에서 1 2 3 5 6 만 존재한다면
4번 제품은 유저에 의해 삭제된 것임
/
혹은 4번제품이 test set으로 간것!!!!!

[2019-03-20 13:31] Jisoo-Min commented on #17
그리고 prior이랑 train은
order_products__prior.csv
order_products__train.csv
에 add_to_cart_order이 있는데, test set에 관해서는 add_to_cart 가 없음

즉 삭제된 것에 대한 연관성이 있을 수 있음

[2019-03-21 04:25] Jisoo-Min opened #18 "reordered feature에 대해 알아보기"
reordered feature가 실제로 이사람이 재구매 한 기록인지 알아보기

예를 들어 유저 A가
총 구매를 3번 했는데 -> a, b, c
우유를 a에 안사고 b, c에 샀으면
a의 우유에는 reordered가 없고
b, c 의 우유에는 reordered가 있는 지 확인하기

[2019-03-21 04:46] Jisoo-Min commented on #17
<img width="30%" alt="image" src="https://user-images.githubusercontent.com/24731075/54733843-4772b200-4bdf-11e9-8582-5552c156dfb5.png">

이것은 sample_submission.csv의 내용임
여기서 order_id가 있고  products가 있는데 원래 우리가 생각했던 것은 '이 order_id에서 product가 재구매 될 지 여부를 예측하는 것' 이였으나 아니였음!!!

우리가 해야할 것은 order_id중 test에 해당하는 75000개의 order을 보고, 그 **order에 어떤 제품이 구매될 지를 예측**하느 것!!!  그리고 evaluation은 mean f1-score로 계산됨!!!!

[2019-03-21 04:54] Jisoo-Min commented on #17
<img src = "https://user-images.githubusercontent.com/24731075/54734036-72a9d100-4be0-11e9-9139-df990a0d842f.png" width="30%">
이 그림에서 볼 수 있는 것 처럼, 한 user에 대해서 여러 구매기록이 있으면
앞부분은 prior이고 뒷부분에 train이 붙는 식으로  eval_set의 종류를 나눔 -> 시간 순서대로 정렬되어있는지는 확인해 볼 필요가 있음 -> order_id가 순차적이지 않기 때문에

<img src="https://user-images.githubusercontent.com/24731075/54734091-ab49aa80-4be0-11e9-9465-7241a5b7ab48.png" width=

[2019-03-21 04:56] Jisoo-Min commented on #17
결론 : add_to_cart 가 없는게 문제가아니라
답안 제출에 대한 이해가 부족했다!!

[2019-03-21 04:56] #17 closed, assigned to Jisoo-Min

[2019-03-21 05:02] Jisoo-Min commented on #18
그리고 또 확인해 볼 것이 있는데
reordered를 가지고 order_id가 순차적인지도 확인하면 유용할 것 같음!!

위 예시와 비슷하게 예를 들자면

order_id
1
2

가 있다고 하면,
1번과 2번 모두 우유를 샀다.
그런데 1번 구매기록에는 reordered가 1이고
2번 구매기록은 0이다
그러면 시간 순서가 아닌것임!!!!

[2019-03-21 06:16] #11 closed, assigned to nobody

[2019-03-21 06:46] HSOOJ commented on #6
![github push error](https://user-images.githubusercontent.com/20984428/54736847-6e85af80-4bf0-11e9-8024-57097aa0ba28.png)

[2019-03-22 05:12] #10 closed, assigned to james-sungjae-lee, HSOOJ

[2019-03-22 05:32] james-sungjae-lee opened #19 "Shell Script Trigger 를 이용한 Jetson - AWS 연동"
기존의 시나리오는 Jetson 의 Detectnet-camera.cpp 혹은 연관 코드의 내부에 aws-sdk 와 image crop 을 위한 패키지를 include 하여 이미지 전처리 및 이미지의 aws 전송이 한 번에 이루어지도록 할 예정이었다. 하지만, 외부 패키지에 대한 build 가 어려운 동시에 이미지 저장을 위한 기능이 관련 코드에 이미 존재한다는 점을 확인하여 새로운 시나리오를 구상하였다.

새로운 시나리오는 담당 교수님과 의논한 적이 있었는데, crop 된 face image 만 local directory 에 저장하고 데이터가 저장된 순간 이를 detect 하는 shell script 를 이용하여 해당 데이터를 aws s3 저장소로 전달하는 방안이다. 이를 구현하기 위해서 detectnet

[2019-03-22 05:34] james-sungjae-lee commented on #19
첫 번째로 테스트 해 볼 것은 shell script 를 이용하여 데이터가 특정 dir 에 생성되었을 때 자동으로 aws s3 에 전달되도록 하는 것이다.

이에 관하여 inotify-tools 를 사용하는 것이 일반적이다.
https://stackoverflow.com/questions/4060212/how-to-run-a-shell-script-when-a-file-or-directory-changes

동시에 진행되야 하는 부분은 cropped face image 가 특정 dir 에 저장되는 것이다.
crop 과 관련하여 해당 코드의 메인터넌스인 dusty-nv 의 issue 가 도움이 되었다
https://github.com/dusty-nv/jetson-inference/issues/227

[2019-03-22 09:19] aaa0265 commented on #14
상품에대해 재구매를 했는지 찾아내기위해
![days-since-prior-order](https://user-images.githubusercontent.com/26623522/54810709-1e7b1b80-4cca-11e9-91c4-8e95cdc96b30.png)
이 코드를 사용하였는데 데이터를 분석해보니 상품에 대한 재구매 기록을 뜻하는 것이 아닌 해당 유저가 다시 쇼핑을 하기까지의 기간을 뜻하는 것이었다.

재구매 여부를 확실하게 알 수 있는 것은 reordered이기 때문에, 코드를 아래처럼 수정하였다.
![reordered](https://user-images.githubusercontent.com/26623522/54812656-f6da8200-4cce-11e9-9586-6fbad777293f.

[2019-03-24 06:56] aaa0265 commented on #14
multi-index 형태의 DataFrame를 다룰 때 index와 column로 원하는 데이터를 뽑아내는 것에 어려움이 있다.
https://www.somebits.com/~nelson/pandas-multiindex-slice-demo.html
위 링크를 참고하면 도움이 된다.

[2019-03-24 13:24] Jisoo-Min opened #21 "EC2에서 필요한 쉘스크립트만들기"
EC2에서 바로 작업할 수 있도록 쉘스크립트만들기

EC2와 RDS, DynamoDB 생성할때 보안그룹까지 연동자동으로 되도록 쉘스크립트만들기

[2019-03-24 23:58] aaa0265 commented on #14
1. dataframe에서 index가 여러개라면 multi-index

2. index를 column으로 바꾸는 과정이 필요했다. 필요한 index부분을 series로 뽑아내서 dataframe에 새로운 column을 만들고 series를 넣는 방법을 구현했다.
![line3](https://user-images.githubusercontent.com/26623522/54887918-68871b80-4edb-11e9-9ba0-1bb154f64203.png)

3. 2번 방법에 비해 쉬운 방법은 reset_index를 사용하는 것이다!!
![reset_index](https://user-images.githubusercontent.com/26623522/54887973-0f6bb780-4edc-11e9-84

[2019-03-26 06:29] HSOOJ commented on #19
특정 디렉토리의 변경 사항이 발생하는지 감시할 때 inotify를 주로 사용한다.
python코드를 이용하여 aws s3에 crop된 이미지 파일을 저장하는데 이를 위해 inotify를 python으로 작성하기로 하였다.
https://github.com/dsoprea/PyInotify

[2019-03-26 14:08] aaa0265 commented on #3
<문제점>
1. xgb.XGBClassifier().fit() 와 xgb.train() 의 속도차이가 존재한다. 어떤 것을 쓸 것인지 생각할 필요가 있음.

2. prior set에 order과 product를 합친 테이블을 파라미터로 넣고 model을 만들기 시작하면 테이블 크기가 너무 커서 dead kernel이 됨.

3. 모델을 만들고 그 모델에 2개의 feature만(사용자 id, 상품 id)가진 table을 넣고 예측을 하려고 했지만 모델을 만들때 넣었던 table의 feature 수와 동일해야한다는 문제점이 생김.

[2019-03-29 03:20] Jisoo-Min opened #22 "EC2인스턴스와 DynamoDB연결하기"
EC2인스턴스와 DynamoDB연결하기

[2019-03-29 03:24] Jisoo-Min commented on #22
--잘못된 설명이니 따라하지 마시길..--
먼저 DynamoDB에 접근하기 위한 권한 설정을 해줘야한다
AWS IAM에 가서 -> Policies -> DynamoDBFullAccess
![image](https://user-images.githubusercontent.com/24731075/55207457-7d3a1b00-521d-11e9-9ae7-1dffbbe21c70.png)

설정은 모든  EC2작업이 가능하도록 해주면 됨

[2019-03-29 03:55] Jisoo-Min commented on #22
먼저 primary key(partition key)는 user_id로 정했고
update할때마다 버전을 tracking할 수 있도록 정렬키를 update_ver로 주었음
<img src="https://user-images.githubusercontent.com/24731075/55208496-c5f3d300-5221-11e9-9762-65699e5380fd.png" width="70%">

[2019-03-29 05:22] Jisoo-Min commented on #22
콘솔에서 테이블을 만드는 것은 쉽게 했으나
aws cli를 이용하여 테이블을 만드는 과정에서 permission에러 발생
![image](https://user-images.githubusercontent.com/24731075/55211122-08bba800-522e-11e9-97a2-20560a818051.png)

[2019-03-29 09:02] aaa0265 commented on #3
1. ec2 환경에서 xgboost 설치 과정에 문제가 발생
![xgboost](https://user-images.githubusercontent.com/26623522/55221429-c9508400-524c-11e9-9c7a-788ab6a24eb1.png)

[2019-03-29 12:02] aaa0265 commented on #3
EC2 환경에서 xgboost를 설치하는 방법
1. git clone https://github.com/dmlc/xgboost.git
2. 1번 완료 후 아래 사진과 같이 진행한다.
![install xgboost](https://user-images.githubusercontent.com/26623522/55231379-c9a94900-5265-11e9-8ba1-9b998051e131.png)

[2019-03-30 04:51] HSOOJ opened #23 "Jetson Tx1 - aws s3 연동 error"
Jetson TX1 에서 aws s3 의 bucket list는 오류 없이 잘 실행되지만 create_bucket, upload_file 과 같이 bucket 의 내용을 수정하려고 하는 경우에는 다음과 같은 error가 발생한다.

![s3 error](https://user-images.githubusercontent.com/20984428/55271311-29e3cd80-52ee-11e9-82f9-ab0385884345.png)

[2019-03-30 08:48] james-sungjae-lee commented on #23
boto3.exceptions.S#UploadFailedError accessdenied 로 찾아본 결과, 기본 환경 설정 중 문제가 생겼을 가능성이 있음.

https://stackoverflow.com/questions/40416452/upload-file-to-aws-s3-using-boto3-with-full-access-permissions?rq=1

해당 자료를 찾아보고 권한 설정등에 문제가 있거나, access key 를 새로 발급받아 테스트해 볼 필요가 있음

또한 에러 메세지에 python2.7 를 이용하는 것으로 나타나 있는데, 이는 기존의 테스트 환경과 다른 것으로 확인됨. 이를 이전과 같은 환경으로 테스트 하기 위해 python3 로 설정하여 진행해볼 필요가 있음.

[2019-03-30 08:51] james-sungjae-lee commented on #1
1번 방법에서 이미지 객체를 AWS S3 에 옮기는 데 어려움이 있어 2번으로 진행한다.

2번 방향으로 진행하는 과정은 다음과 같다.

1 ) bounding box 에 대한 정보가 담긴 bb[0], bb[1], bb[2], bb[3] 을 이용하여 이미지를 Cropping 한다.

2 ) saveImageRGBA 를 이용하여 Cropping 된 이미지를 Local 에 저장한다

3 ) Python 으로 작성된 Inotify 프로그램을 이용하여 Local 에 파일이 저장된 event 를 탐지한다

4 ) 탐지된 event 의 filename 을 기준으로 지정된 AWS S3 에 해당 이미지 데이터를 전송한다

진행 중 상세한 문제가 발생하였을 경우 새롭게 Issue 로 생성할 예정이다.

[2019-03-30 08:51] #1 closed, assigned to james-sungjae-lee, HSOOJ

[2019-03-30 08:52] james-sungjae-lee commented on #12
https://github.com/kookmin-sw/2019-cap1-2019_4/issues/1

해당 이슈로 인하여 AWS-CPP Connection 이 아닌 AWS-Python Connection 으로 변경됨에 따라

현재 이슈를 close 한다.

[2019-03-30 08:52] #12 closed, assigned to james-sungjae-lee, HSOOJ

[2019-03-30 08:57] james-sungjae-lee opened #24 "float4* 타입 이미지와 saveImageRGBA 함수의 작동"
jetson-inference 에서 처리되는 이미지의 형태는 float* 형태이다.

해당 이미지를 local 환경에 저장하기 위해서는 관련 코드로 존재하는 loadImage.h 에서 saveImageRGBA 를 이용하여야 한다.

saveImageRGBA 의 경우 float4* 형태의 input image 와, filename 을 입력으로 받아 해당 이미지를 저장하게 된다.

이 과정에서 saveImageRGBA 함수의 Build 가 정상적으로 되지 않는 문제를 기술한다.

[2019-03-30 09:00] james-sungjae-lee commented on #24
![Screenshot from 2019-03-25 23-30-12](https://user-images.githubusercontent.com/20024627/55273951-a9d15e00-5315-11e9-84e4-debfb6d82ecd.png)

build 했을 때의 에러 화면.

[2019-03-30 09:03] james-sungjae-lee commented on #24
관련 자료를 찾아본 결과, ConvertRGBA 함수에서 마지막 파라미터를 true 로 줘야 정상적으로 image 가 convert 되는 것으로 보인다.

https://devtalk.nvidia.com/default/topic/1026440/jetson-tx2/save-image-to-disk-use-detectnet-camera/

![Screenshot from 2019-03-26 01-59-45](https://user-images.githubusercontent.com/20024627/55273971-f74dcb00-5315-11e9-8593-9a89c4c84dc1.png)

해당 코드를 수정한 다음, 정상적으로 이미지를 저장할 수 있었다.
사진에서 윗 부분은 실시간 detection 이며, 아랫

[2019-03-30 09:03] #24 closed, assigned to james-sungjae-lee

[2019-03-30 09:05] james-sungjae-lee opened #25 "C++ 코드에서 Time series 에 따른 Filename 의 지정"
시간에 따라 이미지를 저장하기 위해서는

단일 Filename 이 아닌 실시간으로 변화하는 filename 이 필요하다

이를 해결하기 위해 현재 시간을 확인하고, 이를 char[] 형태로 변환하는 과정이 필요하다

관련 자료는 strftime 을 이용한다는 것 까지 조사하였다.

[2019-03-30 09:06] odobenuskr commented on #25
https://stackoverflow.com/questions/22318389/pass-system-date-and-time-as-a-filename-in-c

해당 자료를 참고 및 활용하여 저장이 가능할 것으로 보인다.

하지만 해당 데이터는 년, 월, 일에 대해서만 나타나 있기 때문에

시간, 분, 초, 밀리초 까지 인식하는 과정이 필요하다.

[2019-03-30 09:06] james-sungjae-lee commented on #25
https://stackoverflow.com/questions/22318389/pass-system-date-and-time-as-a-filename-in-c

해당 자료를 참고 및 활용하여 저장이 가능할 것으로 보인다.

하지만 해당 데이터는 년, 월, 일에 대해서만 나타나 있기 때문에

시간, 분, 초, 밀리초 까지 인식하는 과정이 필요하다.

[2019-03-30 09:09] james-sungjae-lee opened #26 "Bounding Box 의 형태 인식과 RGBA Image Cropping"
C++ 코드 내에서 Bounding Box 는 bb 라는 이름의 2차원 배열로 나타나있다

bounding box 는 한 화면에 여러 개 나타날 수 있으며, 이에 따라 형태를 정확히 인식해야 한다.

우선 다중 클래스 detection 이 핵심 기능인 만큼, 각 클래스에 따라 다른 bounding box vector 를 갖는다.

그리고, 각 클래스가 여러 개 detecting 될 수 있기 때문에 하나의 class  내에 여러 개의 bounding box 가 존재한다.

bb[0], bb[1], bb[2], bb[3] 이 각각 xmin, ymin, xmax, ymax중 어떤 것을 의미하는지 정확하게 인식하고, 이를 활용하여 이미지를 cropping 하는 방법에 대해 조사한다.

[2019-03-30 09:12] james-sungjae-lee opened #27 "ReadMe.md 이미지 수정"
readme 에 적힌 Architecture 에 대한 설명 이미지가 저화질로 정확하게 알아볼 수 없는 상태이다

이를 해결하기 위해 기존의 저화질 이미지를 고화질 이미지로 대체할 필요가 있다.

[2019-03-31 06:23] HSOOJ commented on #23
access key 를 잘못 설정하여 생긴 문제였다..!

[2019-03-31 06:23] #23 closed, assigned to james-sungjae-lee, HSOOJ

[2019-03-31 06:32] Jisoo-Min commented on #22
위에서 한 권한 설정은 권한 '자체'를 만드는 설정이였다!
권한 설정 하는 방법을 다시 해보면
<img src = "https://user-images.githubusercontent.com/24731075/55285586-c8912c80-53c9-11e9-8a48-812f8fb981d7.png" width="70%">

IAM -> Users -> 자신의  User name 클릭
<img src="https://user-images.githubusercontent.com/24731075/55285588-dc3c9300-53c9-11e9-918e-9de344e96e5d.png" width="70%">

Add permissions 클릭

DynamoDBFullAccess권한을 찾아 권한 설정해준다.

<im

[2019-04-01 03:41] Jisoo-Min commented on #21
ec2는 비어있는 컴퓨팅 자원이기 때문에 pip와python 설치하는 스크립트 작성

[2019-04-01 12:40] Jisoo-Min commented on #22
![image](https://user-images.githubusercontent.com/24731075/55328195-c365d780-54c6-11e9-994c-b17405f1d7e2.png)

쉽게 가져다 쓸 수 있게 DynamoDB에 테이블을 생성하는 shell script를 만들어놓으려 했으나
쉘스크립트 실행하니
![image](https://user-images.githubusercontent.com/24731075/55328223-cf519980-54c6-11e9-94d0-c00d9921e8a7.png)

커맨드를 인식하지 못하는 에러 발생

[2019-04-01 12:48] Jisoo-Min commented on #22
일단 불필요한 주석은 없애야하고, indent를 맞춰줘야할것같다!!
헤더의 sh를 bash로 바꾸어줬음 <- 이건 해결과는 관계없는듯함

[2019-04-01 12:53] Jisoo-Min commented on #22
EC2에서 DynamoDB에 연결하려면 EC2 인스턴스 생성 시 Role을 지정해줘야한다
그러려면 먼저  IAM -> Roles -> Create role
<img src="https://user-images.githubusercontent.com/24731075/55328987-84388600-54c8-11e9-8ed8-10678aaae348.png" width="70%">

AWS service에서 EC2 선택 -> Next
<img src="https://user-images.githubusercontent.com/24731075/55329004-8c90c100-54c8-11e9-9b2f-c70fdd9dfcb5.png" width="70%">

DynamoDB선택 -> -> role생성 완료
<img

[2019-04-01 12:56] Jisoo-Min commented on #22
그리고 EC2생성시 3.configure instance부분에서
IAM role을 설정!!
<img src="https://user-images.githubusercontent.com/24731075/55329158-e4c7c300-54c8-11e9-80c9-bdad059854ee.png" width="70%">

[2019-04-02 10:08] Jisoo-Min commented on #22
dynamoDB table생성 및 item 넣기 생성완료
![image](https://user-images.githubusercontent.com/24731075/55394634-b6a2bb80-557a-11e9-8da7-88dd507c10cd.png)

[2019-04-02 10:11] #22 closed, assigned to Jisoo-Min

[2019-04-02 10:41] Jisoo-Min commented on #21
ec2와 dynamodb연결하기위한 boto3 패키지 설치 업데이트

[2019-04-02 10:42] Jisoo-Min commented on #8
collaborative filtering을 공부하고 보니 현재 우리가 해야하는 추천쪽에 안 맞다는 생각이 들어 STOP

[2019-04-02 10:44] Jisoo-Min commented on #6
master  merge가 1-2명의 승인이 나야 될 수 있게 했는데, 어느 순간 브랜치에서 push가 안됨!!
그래서 master만 branch rule적용함!!

[2019-04-02 10:55] Jisoo-Min opened #28 "Lambda로 (DynamoDB와 API Gateway)연결하기"
lambda가 user_id를 받아 dynamodb에서 해당 정보 읽어와 S3에서 알맞은 이미지 찾아와 웹에 송출할 수 있도록 함

[2019-04-02 11:10] Jisoo-Min commented on #28
-이거 따라하지말기... 잘못한 것 입니당..-
Lambda가 DynamoDB, S3, APIGateway 에 접근할 수 있도록 ami에서 역할만들기
<img src="https://user-images.githubusercontent.com/24731075/55398234-0ab19e00-5583-11e9-82f8-b06650f65825.png" width="50%">

<img src="https://user-images.githubusercontent.com/24731075/55398367-4a788580-5583-11e9-8dcb-a552f936db17.png" width="50%">

[2019-04-02 12:32] james-sungjae-lee commented on #25
해당 코드를 참고하여 filename 이름의 char 배열을 생성하였다.

time_t t = time(0);
struct tm* now = localtime(&t)
char filename[80];
strftime (filename, 80, "%Y%m%d-%H%M%S.PNG", now);

해당 코드를 filename 이 사용되기 이전의 for loop 밖에 작성하고, filename 변수를 사용하면 된다.
이 때, PNG 와 같은 이미지 확장자를 명시하지 않으면 저장되지 않는다는 점을 확인할 수 있었다.

추가적으로 %L 을 이용하면 밀리초의 작성이 가능하다고 확인하였으나, 정확하지 않은 정보였다.

![Screenshot from 2019-03-29 05-39-32](https://user-images

[2019-04-02 12:37] james-sungjae-lee commented on #26
bb[0] 와 bb[2] 는 x_min 과 x_max
bb[1] 과 bb[3] 는 y_min 과 y_max 를 의미한다는 점을 확인하였다

첫 번째 시도는 detectnet-camera.cpp 코드에서 직접 Cropping 한 다음, 해당 RGBA 이미지를 저장하는 것이었다.
하지만 Cropping 을 위해서 QImage 객체를 생성해야 하는 과정에서 관련된 코드의 include ( link ) 에 문제가 생겼다.

이를 해결하기 위해 두 번째로 loadImage.h 와 cpp 파일을 cropping 할 수 있도록 수정하는 방법을 선택하였다.
bounding box 정보를 바탕으로 for 반복문을 이용하여 cropping 을 시도하였으나,
serPixel 과정에서 range out 문제가 발생하여 해결중에

[2019-04-02 12:39] james-sungjae-lee opened #29 "Jetson 에서의 inotify - detectNet 연동 에러"
Python 을 이용한 inotify event trigger 를 jetson 환경에서 작동시키는 과정에서

S3 업로드 오류가 발생하였다.

AWS Configuration 이 설정된 TX2 환경에서의 문제이다.

![s3 upload error](https://user-images.githubusercontent.com/20024627/55403002-c4167080-558f-11e9-9c23-279217f1c4d1.png)

이를 해결한 다음, 실시간 이미지 생성을 inotify 가 적절하게 처리하는지에 대한 테스트가 필요하다.

[2019-04-03 05:19] james-sungjae-lee opened #30 "Jetson 의 Disk Write 로 인한 Frame Drop 문제"
Jetson 에서 Face Detection 과 Cropping 하는 과정은 빠르게 진행되지만

실제 Disk 에 이미지를 저장하는 과정에서 이미지 크기 ( File Size ) 에 따라 2 ~ 5 fps 정도로

심각한 속도 저하가 일어나는 것을 확인할 수 있다.

![Screenshot from 2019-04-04 11-57-19](https://user-images.githubusercontent.com/20024627/55555005-2a7dc900-571f-11e9-8241-3b91d1d4fa18.png)

사람이 멀리서 인식되어, 작은 Cropping 이미지를 저장할 경우에는 약간 빠른 속도를 보이며,

전체 이미지를 저장할 경우에는 매우 느린 속도를 보이게 된다.

수행 계획에 최소 30fps

[2019-04-03 05:23] james-sungjae-lee commented on #30
더 빠른 이미지 저장과 관련된 discussion 자료

https://devtalk.nvidia.com/default/topic/1029516/jetson-tx2/seeking-suggestions-of-faster-way-of-saving-images-with-jetson-inference-camera-processing/

[2019-04-03 05:39] Jisoo-Min commented on #28
1. AMI 역할만들기
<img src="https://user-images.githubusercontent.com/24731075/55455270-fbcbf980-561d-11e9-85e9-03719e382853.png" width="50%">

2. 람다한테 줄 역할이니, 람다를 클릭
<img src="https://user-images.githubusercontent.com/24731075/55455298-169e6e00-561e-11e9-8d11-76d0a4c64921.png" width="50%">

3. LambdaFullAccess 권한 선택
<img src="https://user-images.githubusercontent.com/24731075/55455329-33d33c80-561e-11

[2019-04-03 05:42] Jisoo-Min commented on #28
Lambda를 생성하는데
아까 만든 AMI role을 부여!!!
<img src="https://user-images.githubusercontent.com/24731075/55455445-9d534b00-561e-11e9-8162-c55ae40173e4.png" width="70%">

[2019-04-03 05:43] Jisoo-Min commented on #28
그러면 람다가 쓸수있는 서비스들과 함께 람다function이 생성됨!
![image](https://user-images.githubusercontent.com/24731075/55455520-e0adb980-561e-11e9-83b7-7d07d8176a7a.png)

[2019-04-03 06:40] james-sungjae-lee opened #31 "회의록 날짜와 filename 의 mismatch"
upload_picture branch 의

https://github.com/kookmin-sw/2019-cap1-2019_4/blob/upload_pictures/doc/%ED%9A%8C%EC%9D%98%EB%A1%9D/2019_04_02.md

파일에서 filename 은 2019_04_02 이지만 실제 회의 날짜는 2019_04_01 임
이에 대해 수정이 필요함.

[2019-04-03 06:50] Jisoo-Min commented on #28
광고이미지 저장용 버킷 만들기

S3에서는 리전을 선택하지 않아도되서 그런지 버킷 이름이 겹치면 안됨!!!
그래서 kmu-ads-bucket으로 생성함
<img src = "https://user-images.githubusercontent.com/24731075/55458476-1014f400-5628-11e9-9b2e-27c70c00abfe.png" width="60%">

[2019-04-03 06:57] Jisoo-Min commented on #28
이렇게만 하면 굳이 permission설정하지 않아도됨 -> 객체 퍼블릭화 가능!!

[2019-04-03 06:57] james-sungjae-lee commented on #31
해당 회의록 filename 이 2019_04_01 로 수정된 다음,

2019_04_02 로 29차 jetson 팀 회의록이 업로드될 예정입니다.

[2019-04-03 07:17] james-sungjae-lee commented on #31
29차 회의록의 이미지 업로드를 확인하는 과정에서

28차 회의록에 사용된 이미지의 filename 또한 0402 로 작성되어 있는 것을 발견함.

해당 filename 수정이 필요할 것으로 보임.

[2019-04-03 08:11] Jisoo-Min commented on #28
아래와 같이 dynamodb에서 item을 가져오려 했으나
[code]

오류발생
[code]

[2019-04-03 09:20] aaa0265 commented on #31
28차 회의 날짜는 4월 2일로 수정하였습니다.
회의록에 사용된 이미지는 0402가 맞는 것으로 수정할 필요는 없고, 동일한 날짜로 업로드될 사진들은 날짜 뒤에 번호를 붙여서 올리면 될 거 같습니다.

[2019-04-03 09:20] #31 closed, assigned to aaa0265

[2019-04-03 09:28] Jisoo-Min commented on #28
Partition key뿐만 아니라 설정한 Sort key도 같이 찾을때 써야함!!!!
[code]

[2019-04-03 10:08] james-sungjae-lee commented on #26
range out 문제는  setPixel 에서 index 문제가 맞았으며,

해당 문제를 (x-x_min, y-y_min) 과 같이 변형함으로써 문제를 해결할 수 있었음.

![2019_04_02_7](https://user-images.githubusercontent.com/20024627/55471071-e36ed580-5643-11e9-9a9e-b7b2962fc846.png)

[2019-04-03 10:08] #26 closed, assigned to james-sungjae-lee

[2019-04-03 11:05] Jisoo-Min commented on #28
APIGateway를 생성하는 부분에서 에러 발생
[code]
<img width="839" alt="스크린샷 2019-04-03 오후 8 04 20" src="https://user-images.githubusercontent.com/24731075/55474319-cb02b900-564b-11e9-8f29-9dde2a5d9e4c.png">

AccessDenied로 보아 권한 문제인듯함!!

[2019-04-03 11:08] Jisoo-Min commented on #28
APIGateway 권한을 AMI에서 추가하고 Lambda도 계속 써야하니 Lambda까지 권한 부여함
<img src="https://user-images.githubusercontent.com/24731075/55474379-f4bbe000-564b-11e9-80ca-c1afc9791c36.png" width="80%">

<img src="https://user-images.githubusercontent.com/24731075/55474450-22088e00-564c-11e9-8e46-79f23c51b34c.png" width="30%">

[2019-04-03 11:09] Jisoo-Min commented on #28
APIGateway 생성문제 해결!! 생성됨!!

<img width="450" alt="스크린샷 2019-04-03 오후 8 15 30" src="https://user-images.githubusercontent.com/24731075/55474878-4a44bc80-564d-11e9-904b-be2486a8b5e2.png">

[2019-04-04 12:22] james-sungjae-lee commented on #30
얼굴 인식의 크기가 클 수록 Cropping 된 영역이 커지고, Disk 에 작성해야 하는 파일 크기가 커진다.

이에 따라 Disk Write 가 많이 발생하여 FPS 가 저하되는 현상이 발생한다. 이에 대한 실험 과정은 다음과 같다.

1. Jetson Disk 에 큰 얼굴을 인식하였을 경우 : 4.3 FPS

![Screenshot from 2019-04-04 12-00-49](https://user-images.githubusercontent.com/20024627/55555144-7c265380-571f-11e9-938f-2ba53fe79845.png)

2. Jetson Disk 에 작은 얼굴을 인식하였을 경우 : 9.1 FPS

![Screenshot from 2019-04-04 12-00-13

[2019-04-04 12:26] james-sungjae-lee commented on #30
discussion 자료에 따라 SD Card 의 Flash Memory 에 저장할 경우 Write 시간이 감소할 수 있다는 점을 확인하기 위해 실험해 보았다.

1. SD Card 에 큰 얼굴을 인식하였을 경우 : 4.4 FPS

![Screenshot from 2019-04-04 12-04-13](https://user-images.githubusercontent.com/20024627/55555343-08d11180-5720-11e9-8c22-342b03fcef0b.png)

2. SD Card 에 작은 얼굴을 인식하였을 경우 : 7.4 FPS

![Screenshot from 2019-04-04 12-04-48](https://user-images.githubusercontent.com/2002462

[2019-04-04 12:26] james-sungjae-lee commented on #30
Cropping 영역의 width 와 height 가 일정 크기 이상일 경우에는 이미지를 저장하지 않도록 하여

일정한 FPS 가 나올 수 있도록 조정하는 것을 다음 목표로 삼는다.

[2019-04-04 12:31] james-sungjae-lee opened #32 "Project License 및 기본사항 작성"
다른 Capstone 프로젝트들이나 Github 프로젝트들과 마찬가지로

현재 진행하는 Flex Ads 프로젝트에 대한 License 를 명시하여야 한다. ( GPL, MIT 등.. )

이에 대해 논의와 해당 사항의 작성 및 명시가 필요할 것으로 보인다.

추가적으로 깃허브 Community 항목에 License 를 비롯하여 기본적으로 작성해야 하는 사항이 나타나있다.

https://github.com/kookmin-sw/2019-cap1-2019_4/community

작성이 필요한 부분을 확인해볼 필요가 있다.

License 와 관련해 참고해볼 만한 자료는 다음과 같다.

http://guswnsxodlf.github.io/software-license

[2019-04-05 06:25] james-sungjae-lee commented on #19
Jetson 환경에서 inotify for python 을 이용하여 구현 완료하였음

https://github.com/kookmin-sw/2019-cap1-2019_4/tree/face_detection/src/face_detection/local_aws_trigger

[2019-04-05 06:25] #19 closed, assigned to james-sungjae-lee, HSOOJ

[2019-04-05 07:26] Jisoo-Min commented on #28
나한테 들어오는user_id는 lambda에서 줌 (다른 람다)

[2019-04-05 08:02] HSOOJ commented on #27
고화질 이미지로 대체하여 수정하였기 때문에 이슈를 닫도록 하겠습니다.

[2019-04-05 08:02] #27 closed, assigned to HSOOJ

[2019-04-05 11:30] james-sungjae-lee opened #33 "Rekognition facial input image 조건에 맞추기 위한 Cropping 수정사항"
Jetson 에서 FaceNet 을 이용하여 Bounding Box 를 Cropping 한 이미지는 얼굴 부분만 나타나게 된다.

하지만 Rekognition 의 적절한 얼굴 이미지 input 에 대한 명세를 살펴본 결과, 이는 적절하지 않은 input 으로 더 큰 범위의 Cropping 이 필요할 것으로 보인다.

관련 문장은 다음과 같다.

해당 내용이 첨부된 링크는 아래와 같다.
https://docs.aws.amazon.com/ko_kr/rekognition/latest/dg/recommendations-facial-input-images.html

해당 제약 조건을 만족시키는 face collection 을 생성하기 위해, 다음과 같은 image cropping 처리를 필요로 한다. 첫째, 얼굴 이

[2019-04-05 11:59] james-sungjae-lee opened #34 "Cropped image save timing 의 조정"
현재 이미지가 저장되는 속도는 200 ~ 300 ms 정도이다.

이는 1초에 최소 3장의 이미지를 저장한다는 의미이며, 그만큼 많은 Disk Write 를 위한 컴퓨터 자원을 소모한다고 볼 수도 있다.

이러한 문제를 해결하기 위해 원하는 주기로 이미지를 저장하는 방법에 대해 고민한다.

첫 번째 구상한 방법으로는, 10초에 1번씩 이미지가 저장되도록 코드를 구현한다고 가정하였을 때,

1. filename 에 작성되는 sec 부분이 10초에 1번 0이 된다는 점에 착안하여 해당 문자를 가져온다.

2. 해당 문자가 0이 되는 순간만 face detection 의 결과를 저장한다.

3. 해당 문자가 0이 되는 순간, milli sec 단위로 여러 장이 저장될 수 있기 때문에, 이는 flag 를 이용해 해

[2019-04-05 12:03] james-sungjae-lee commented on #25
해당 사항에 대한 구현은 다음과 같이 이루어졌다.

이미지 데이터를 저장하기 위해 저장될 이미지 파일명을 detect 된 시간으로 지정하기 위해
먼저 curTime 을 이용하여 milli 초를 계산하여 milli 변수에 저장한다.

그 다음, 현재 시간을 local time 에 맞추어 now 변수에 저장한다.

그리고 밀리초를 제외한 파일명(년, 월, 일, 시, 분, 초)를 buffer 배열에 저장한다.

밀리초를 제외한 시간을 strftime 을 이용하여 now 로부터 시간을 가져와 buffer 에 저장한다.

밀리초와 이미지 확장자를 추가하여 filename 배열에 저장한다.

그 결과, filename 에는 적절한 밀리초가 합쳐진 데이터가 char 배열 형태로 입력되게 된다.

실험 결과는 다음과 같다

[2019-04-05 12:03] #25 closed, assigned to james-sungjae-lee, HSOOJ

[2019-04-05 12:06] james-sungjae-lee commented on #29
해당 오류는 inotify python 코드에서 적절한 file directory 를 지정해주지 않아서 발생했던 것으로 밝혀졌다.

해결 방법은 다음과 같다.

먼저 정확한 watch path 를 변수 형태로 저장한다.

upload 하는 file 의 path 를 filename 이 아닌, watch_path + filename 형태로 변환한다.

[2019-04-05 12:06] #29 closed, assigned to HSOOJ

[2019-04-05 12:08] james-sungjae-lee commented on #32
이번 FlexAds 프로젝트에 가장 적절한 License 는 MIT License 로 보이며, 내용은 다음과 같다.

MIT License

1. 이 소프트웨어를 누구라도 무상으로 제한없이 취급해도 좋다.
2. 저자 또는 저작권자는 소프트웨어에 관해서 아무런 책임을 지지 않는다.

해당 내용으로 License 를 작성하도록 한다.

[2019-04-05 12:14] #32 closed, assigned to nobody

[2019-04-05 12:17] james-sungjae-lee commented on #34
10초에 1회 이미지가 저장되는 모습이다

![Screenshot from 2019-04-05 18-28-39](https://user-images.githubusercontent.com/20024627/55627030-223d9080-57e8-11e9-85a8-c2fe1e5d4636.png)

[2019-04-08 11:53] Jisoo-Min commented on #28
1. API gateway resource -> 메서드 생성
<img src="https://user-images.githubusercontent.com/24731075/55721789-43e48500-5a3f-11e9-9d94-4ea79b8b26de.png" width="50%">

2. GET 메소드 생성하여 Lambda함수 선택
<img src="https://user-images.githubusercontent.com/24731075/55721806-4f37b080-5a3f-11e9-94a1-3b4e69489a2c.png" width="50%">

3.  stage생성
<img src="https://user-images.githubusercontent.com/24731075/55721897-8efe

[2019-04-09 07:17] HSOOJ opened #36 "Jetson pip install error"
로컬에서 테스트 완료한 **inotify를 이용하여 AWS S3 버켓에 사진 올리는 작업**을 Jetson에서 진행했다. 그러기 위해서는 inotify와 inotify와 boto3를 설치해야한다. (`pip install inotify`, `pip install boto3`)

그 전에 pip가 미리 설치 되어있어야하기 때문에 `apt-get install python-pip`을 통해 설치를 했으나 다음과 같은 오류가 발생하였다.

![Screenshot from 2019-03-30 12-31-28](https://user-images.githubusercontent.com/20984428/55780550-308af580-5ae3-11e9-89ba-0e82c64a5ed8.png)

[2019-04-10 01:52] HSOOJ commented on #36
다음과 같이 `sudo python -m pip uninstall pip && sudo apt-get install python-pip --reinstall`을 적용하니 해결되었다.
![pip error](https://user-images.githubusercontent.com/20984428/55845854-7648cc00-5b7e-11e9-8fff-405c51d61b1d.png)

[2019-04-10 01:52] #36 closed, assigned to nobody

[2019-04-10 11:25] aaa0265 commented on #3
boosting tree를 시각화하려고 아래코드를 작성하니 그림이 작고 깨짐
[code]
![image](https://user-images.githubusercontent.com/26623522/55874956-c485bb80-5bce-11e9-903d-52d42b36ff86.png)

[2019-04-10 11:27] aaa0265 commented on #3
[code]
위 코드를 작성하니 사이즈가 조절되면서 트리가 깨지지 않음
![image](https://user-images.githubusercontent.com/26623522/55875046-057dd000-5bcf-11e9-8c8e-56baeaa30c07.png)

[2019-04-10 12:48] james-sungjae-lee commented on #33
loadImage 의 Crop Save 관련 코드를 수정하여 이미지가 Bounding Box 범위보다 크게 저장되도록 수정하였다.

기본적인 접근 방향은 x_min, x_max, y_min, y_max 좌표를 기존보다 확장한 형태로 이동시켜 Cropping 이 확장된 형태로 이루어 지도록 하는 것이었다.
이미지의 비율에 맞추어 확장될 수 있도록, 기존의 Bounding Box 의 width 와 height 값을 저장하고, 해당 값의 0.3, 0.6 등의 값을 곱한 만큼 좌표를 이동시켰다.

첫 번째 테스트에서는 좌측, 우측을 width * 0.3 만큼, 상단을 height * 0.3 만큼, 하단을 height * 0.6 만큼 확장시킨 상태로 저장하였다. Jetson 팀에서 회의한 결과 좌측 및 우측을 조금

[2019-04-10 12:48] #33 closed, assigned to nobody

[2019-04-10 12:50] james-sungjae-lee commented on #30
우선 Cropping 영역의 최적의 width 와 height 를 찾기 위해 다양한 실험을 진행하였다.

![Screenshot from 2019-04-04 12-59-33](https://user-images.githubusercontent.com/20024627/55879860-87272b00-5bda-11e9-9607-5961e20b9780.png)

![Screenshot from 2019-04-04 13-00-56](https://user-images.githubusercontent.com/20024627/55879869-8d1d0c00-5bda-11e9-9f14-afabe182100d.png)

그 결과 150px 전후의 이미지 크기에서 cropping 하는 것이 적절하다고 판단하였다.
최종적으로

[2019-04-10 12:50] #30 closed, assigned to james-sungjae-lee

[2019-04-10 12:54] james-sungjae-lee opened #37 "Rekognition 학습을 위한 다양한 Face Image Dataset 의 생성"
Rekognition Face Collection 학습을 위해 우선적으로 캡스톤 팀원의 Face Image Dataset 이 필요하다

Dataset 을 생성하는 방법은, Jetson 을 기반으로 짜여진 코드에서 얼굴 크기, 방향, 광원 등을 다양화 하여

앞에서 구현한 Save Cropped Image 함수를 통해 생성할 예정이다.

추가적으로, 예시와 다르게 흰색 배경을 기준으로 촬영하는 것이 적절할 것으로 보인다.

<img width="408" alt="Screen Shot 2019-04-10 at 9 54 25 PM" src="https://user-images.githubusercontent.com/20024627/55880228-38c65c00-5bdb-11e9-981e-896041895cb9.

[2019-04-10 12:55] james-sungjae-lee commented on #34
0.3초, 0.5초, 1초 단위로 실험이 필요한 상황이다.

[2019-04-14 10:06] Jisoo-Min commented on #6
https://kookmin-sw.github.io/2019-cap1-2019_4
깃허브 홈페이지를 위해 index.md를 작성했는데  그림이 로딩이 안됨
![image](https://user-images.githubusercontent.com/24731075/56091299-3bc99100-5ee8-11e9-9997-16a1c4cfab06.png)
![image](https://user-images.githubusercontent.com/24731075/56091319-5865c900-5ee8-11e9-9ebc-bcb570460f4c.png)

[2019-04-14 10:08] Jisoo-Min commented on #6
사진이 있는 곳의 url을 가져와 사진을 .md로 넣었었는데 위와 같이 깨져서 절대 경로로 넣어줬는데  이마저도 해결책이 아니였다.
그래서 index.md를 기준으로 상대경로로 img src를 작성했더니 해결되었다.
![image](https://user-images.githubusercontent.com/24731075/56091337-a67acc80-5ee8-11e9-8d59-99be334a30bb.png)

[2019-04-14 10:21] Jisoo-Min commented on #28
test event로 실행하여 api gateway에 띄우는 것은 가능하다. 이 때 출력되는 것은 lambda의 return값이다.
event처리를 url로 할 수 있도록 새로 api gateway를 생성하려한다.

1. 리소스를 생성한다. (ads)  -> 루트에서 하는 것으로 수정함!!!!
2. 생성한 리소스에 get method를 추가하여 위와 마찬가지로 lambda를 추가한다.
<img width="1481" alt="스크린샷 2019-04-14 오후 7 14 21" src="https://user-images.githubusercontent.com/24731075/56091477-57ce3200-5eea-11e9-8575-5576aee7825d.png">

3. get method의

[2019-04-14 10:43] Jisoo-Min commented on #28
즉, 지금 문제는 API Gateway는 Lambda에서의 test event처리를 해주지 않는다는 문제이다.
아래 코드는 user_id를 코드상에서 23으로 명시한 것이며 이는 api gateway에서 출력이 잘 된다.
[code]
![image](https://user-images.githubusercontent.com/24731075/56091736-69fd9f80-5eed-11e9-906f-968f817e90b8.png)

하지만 이를 test event를 이용하여 user_id를 받으면 오류가 난다.
[code]
![image](https://user-images.githubusercontent.com/24731075/56091750-88fc3180-5eed-11e9-8bb6-340d892cc36c

[2019-04-14 16:53] Jisoo-Min commented on #28
일단, 인풋을 url상으로 받아서 출력물을 반환하도록 하였다.
원하는 시나리오는 api gateway deploy url에 user_id를 함께주어 결과가 출력되게 하는 것!!

먼저 두 가지 설정을 해야한다.
1. GET method의 METHOD REQUEST수정
-> url에서 query를 받도록 query string 수정
![image](https://user-images.githubusercontent.com/24731075/56096261-efe70e00-5f20-11e9-8779-a0f67f60f75f.png)

2. GET method의 Intergration Request수정
-> mapping templates 수정하고 content-type수정
[code]
<img src='https:

[2019-04-14 17:00] Jisoo-Min commented on #28
dynamodb로부터 읽어들인 정보를 출력하기 위해  deploy API생성
생성된 url을 통해 정보 송출
url 뒤에 query string을 붙여 송출한다. 2개의 예제를 입력하였다.
<img width="644" alt="스크린샷 2019-04-15 오후 1 27 15" src="https://user-images.githubusercontent.com/24731075/56199065-23d44780-6077-11e9-98bd-a18ff451d13b.png">
<img width="645" alt="스크린샷 2019-04-15 오후 1 27 25" src="https://user-images.githubusercontent.com/24731075/56199165-54b47

[2019-04-14 17:03] Jisoo-Min commented on #28
이제 해야할일
-> dynamodb정보를 읽어온 것을 바탕으로 해당하는 광고를 s3에 가져오기
-> dynamodb에 s3 버킷 url 추가하기(url로 바로 가져오기위함)
-> url뒤에 user을 가져오는 것이 lambda로 가능한지 알아보기 (trigger)

[2019-04-15 00:34] Jisoo-Min commented on #28
Issue내용이 길어져
Lambda와 (Dynamodb +API Gateway)를 연동하는 것까지로 이슈를 변경함

[2019-04-15 00:34] #28 closed, assigned to Jisoo-Min

[2019-04-15 10:56] james-sungjae-lee opened #38 "Cropped Face Image 품질 향상"
현재 이미지를 저장하는 과정에서 이미지의 일부 픽셀이 푸른색으로 변하여 저장되는 문제가 나타난다.

일부 Edge 부분의 픽셀이기 때문에 특별하게 Recognition 에 문제가 있을 것으로 보이지는 않지만,

만약 이로 인해 적절한 학습이 되지 않고 문제가 발생한다면 꼭 고치고 넘어가야 하는 부분이다.

첫 번째 원인 조사로는 File I/O 부분에서 시간 문제로 인하여 발생하는 것으로 생각했지만,

millisec 을 무시하고 1sec 마다 Save 하도록 코드를 바꿨음에도 동일한 문제가 발생하는 것으로 보아

다른 곳에 문제의 원인이 있는 것으로 보인다.

실시간으로 화면에 보여지는 pixel 은 정상적이면서, Save 할 때만 문제가 생기는 원인을 밝힐 필요가 있다

아래와 같이 특정 부분의 픽셀이

[2019-04-15 10:59] james-sungjae-lee commented on #34
실험해본 결과 1초가 가장 적절한 주기로 보인다.

팀원들의 Face Dataset 을 만들고, 시스템의 나머지 부분을 구현하는 데 있어서 일단은 1초 단위의

Save 주기를 Baseline 으로 삼도록 한다.

Network Overhead 나 Rekognition 딜레이로 인해 시스템에서 더 빠른 속도를 필요로 한다면

그 때 더 빠른 Detection & Save 속도를 가지도록 코드를 수정하도록 한다.

[2019-04-15 10:59] james-sungjae-lee commented on #34
1초 단위의 Face Dataset 생성 결과

![Screenshot from 2019-04-15 10-38-34](https://user-images.githubusercontent.com/20024627/56127834-02148b00-5fb9-11e9-84d6-34a62151506a.png)

[2019-04-15 10:59] #34 closed, assigned to nobody

[2019-04-19 10:12] james-sungjae-lee opened #40 "AWS Rekognition Collection 생성 및 관리"
AWS Rekognition 을 이용하여 Face Recognition 작업을 수행하기 위해서는

사전에 얼굴 데이터를 모으고, 콜렉션을 생성한 다음, 해당 얼굴 데이터를 업로드 하는 등의 과정이 필요하다

이를 정리해둘 필요가 있기에 Issue 를 이용해 그 과정을 순차적으로 작성하도록 한다.

[2019-04-19 11:12] james-sungjae-lee opened #41 "Add faces to collection with S3 Access Error"
얼굴 이미지를 Rekognition 에 학습시키는 과정에서 Collection Upload 가 정상적으로 처리되지 않음

첫 번째 에러는 S3 의 데이터를 Rekognition 으로 전송하는 과정에서 Filename 이 적절하지 못하여 발생함

<img width="484" alt="Screen Shot 2019-04-19 at 7 30 33 PM" src="https://user-images.githubusercontent.com/20024627/56421833-65672b80-62df-11e9-88de-56c4e366adc1.png">

botocore.exceptions.ClientError: An error occurred (ValidationException) when calling the Inde

[2019-04-19 11:27] james-sungjae-lee commented on #41
botocore.errorfactory.InvalidS3ObjectException: An error occurred (InvalidS3ObjectException) when calling the IndexFaces operation: Unable to get object metadata from S3. Check object key, region and/or access permissions.
( 두 번째 오류 내용 )

두 번째로 발생한 오류는 입력한 S3 Object 정보에 접근할 수 없다는 것이며, object key, region, access permission 을 확인하라는 메시지가 나타난다.

이에 해당 내용을 순차적으로 확인하였다.

1. object key
- S3 의 object key

[2019-04-19 11:54] james-sungjae-lee commented on #41
region 문제로 밝혀짐

https://stackoverflow.com/questions/44532633/aws-rekognition-gives-an-invalids3exeption-error

[2019-04-29 05:08] Jisoo-Min commented on #21
인스턴스 타입 memory로 바꾸고 xgboost 설치 추가

[2019-04-29 05:09] Jisoo-Min opened #42 "S3이미지 APIGateway로 띄우기"

[2019-04-29 05:13] Jisoo-Min commented on #42
1. S3버킷 만들기
<img src="https://user-images.githubusercontent.com/24731075/56877393-a4884000-6a88-11e9-9814-9b7999e2a5db.png" width="50%">

2. permission수정하기(정책설정)
<img width="1543" alt="스크린샷 2019-04-29 오후 2 12 01" src="https://user-images.githubusercontent.com/24731075/56877429-efa25300-6a88-11e9-9bb1-f27ed616556a.png">
<img width="1548" alt="스크린샷 2019-04-29 오후 2 12 15" src="https:/

[2019-04-29 05:21] Jisoo-Min commented on #42
3. permission 수정2
public access설정하기
<img alt="스크린샷 2019-04-29 오후 2 15 24" src="https://user-images.githubusercontent.com/24731075/56877485-5a538e80-6a89-11e9-9e5a-6d07a33e2a39.png" width="50%">

칸 비워서 save하기
<img width="400" alt="스크린샷 2019-04-29 오후 2 15 34" src="https://user-images.githubusercontent.com/24731075/56877565-e36ac580-6a89-11e9-8927-4230aa674bcc.png">

그러면 퍼블릭으로 바뀌어있음!!

[2019-04-29 05:25] Jisoo-Min commented on #42
일단 dynamoDB 샘플데이터 apple과 banana에 대한 이미지 넣음
<img src="https://user-images.githubusercontent.com/24731075/56877666-891e3480-6a8a-11e9-9119-7383bbbda04b.png" width="50%">

[2019-04-30 04:10] Jisoo-Min commented on #42
DynamoDB의 추천정보에
광고이미지 url을 추가함  -> 실제 bucket에서 제공하는 url

<img width="920" alt="스크린샷 2019-04-30 오후 1 11 07" src="https://user-images.githubusercontent.com/24731075/56940457-8c2c2a00-6b49-11e9-99d3-617c9c0401e4.png">

[2019-04-30 05:42] Jisoo-Min commented on #42
S3에서 이미지를 가져와 string 변환  후  API Gateway 에 전달할 수 있도록 해야함!!!

[2019-04-30 07:57] james-sungjae-lee commented on #41
<img width="547" alt="Screen Shot 2019-04-30 at 4 56 36 PM" src="https://user-images.githubusercontent.com/20024627/56947708-eee0ee00-6b68-11e9-9b51-fe97cb85de40.png">

문제를 해결하기 위해서는 위와 같이 rekognition 의 client 생성 시에 s3 의 region 과 동일한 region 을

region_name 파라미터에 입력해주면 된다.

[2019-04-30 07:57] #41 closed, assigned to james-sungjae-lee

[2019-04-30 08:01] james-sungjae-lee opened #43 "AWS SNS 의 HTTP 통신을 위한 Local Server 의 구성"
AWS SNS 를 이용하여 Lambda 에서 반환된 특정 JSON 형태 등의 데이터를

Local 환경으로 전송하기 위해서는 HTTP 통신이 가장 효율적이다

이를 위해서 Local 환경에서 HTTP 통신을 전달받을 수 있는 서버의 구성이 필요하며,

해당 서버는 Python, JS 등의 코드로 구성되어야 한다.

현재 고려하고 있는 서버의 종류는

Python : Django, Flask
JS : Node.js

등이 존재하며, 더 심플한 통신을 위해서 Python 의 http.server, simpleHTTPServer, requests 등을 고려하고 있다

우선 SNS 의 메시지를 구독하기 위한 HTTP 대상으로 Server 의 IP 주소가 입력되어야 한다는 사실은 확인한 상태이다.

[2019-04-30 08:44] james-sungjae-lee commented on #37
팀원의 Face Image Dataset 생성을 위하여

국민대학교 7호관 6층 복도에서 흰 벽을 배경으로 촬영을 진행하였다.

![IMG_0588](https://user-images.githubusercontent.com/20024627/56949874-0ae78e00-6b6f-11e9-9d17-62bb0e041ce1.jpeg)

그 결과 각 팀원당 40장의 이미지를 수집할 수 있었고, 앞으로 교수님들에 대한 얼굴이미지 수집이 필요할 것으로 보인다.

<img width="692" alt="Screen Shot 2019-04-30 at 5 44 17 PM" src="https://user-images.githubusercontent.com/20024627/56950089-98c37900-6b6f-11e9

[2019-04-30 10:35] Jisoo-Min commented on #42
내가 하는 거는 백엔드를 해준건데 API를 통해서 이미지가 있는 링크를 주는 것임!!!

그러면 수진이가 이미지의 S3 bucket url을 로컬에 띄워주는 것이당
(근데 문제는 이미지랑 텍스트를 같이 줄 수는 없다..!)

[2019-04-30 10:36] Jisoo-Min commented on #42
외부에서 s3에 저장된 이미지를 읽을 수 있도록 read 권한을 부여했다.
![image](https://user-images.githubusercontent.com/24731075/56956460-31152a00-6b7f-11e9-9639-8940b9619e2d.png)

[2019-05-01 02:03] Jisoo-Min opened #44 "광고 띄울 웹 만들기"
로컬에서 광고 띄울 웹 만들기!
기본 구조 + 꾸미기

[2019-05-01 02:15] Jisoo-Min commented on #44
일단 기본적으로 보여줄 것
광고이미지, 제품명, 제품 분류(위치로 대신 하도록)

@HSOOJ  생각나는 아이디어 있으면 알려쥬시길!!! ㅎㅅㅎ

[2019-05-01 02:17] #42 closed, assigned to Jisoo-Min

[2019-05-01 02:47] Jisoo-Min commented on #44
`open -a "Google Chrome" ./test.html` 로 하면 Chrome으로 새로고침 처럼 되면서 웹 열림!!

[2019-05-01 04:41] james-sungjae-lee commented on #44
https://beomi.github.io/2017/02/27/HowToMakeWebCrawler-With-Selenium/

하나의 Python 코드 내에서 서로 다른 웹페이지에 접근하고자 한다면,

chrome driver 를 selenium 에서 사용하여 driver.get ( url ) 으로 접근 가능함.

[2019-05-01 04:43] Jisoo-Min commented on #44
@odobenuskr  아이거 광고 보여줄 웹 디자인 말한거였어요..!!!ㅇㅅㅇ

[2019-05-01 12:21] aaa0265 opened #45 "EC2 환경에서 코드 실행시 발생하는 문제"
python code를 EC2에서 실행하기 위해 수정하는 과정에서 발생하는 오류 해결하기

[2019-05-01 12:55] aaa0265 commented on #45
![스크린샷, 2019-05-01 22-01-06](https://user-images.githubusercontent.com/26623522/57018022-a571cb00-6c5c-11e9-9720-b0749f729096.png)

[2019-05-01 13:22] aaa0265 commented on #45
해결 방법

db = pymysql.connect(host="RDS 엔드포인트 ", port=3306, user="사용자이름", passwd="비밀번호",db="***")
-> 코드 중 RDS와 연결하기 위한 부분인데 ***이 찍힌 부분을  RDS의 이름이 아닌 RDS 속 데이터 베이스 목록들을 확인하고 그 중 내가 사용할 구체적인 데이터베이스를 적어야한다!

![스크린샷, 2019-05-01 22-21-08](https://user-images.githubusercontent.com/26623522/57018706-70b34300-6c5f-11e9-93e2-6a4fb8c04866.png)
-> 네모 박스 안에 있는 데이터 베이스 목록 중에 내가 사용할 것을 골라 넣어줘야한다.

[2019-05-02 00:50] aaa0265 commented on #45
코드 실행시 오래 걸리면서
packet_write_wait: Connection to <IP> port 22: Broken pipe
이런 오류가 발생

[2019-05-02 12:11] Jisoo-Min commented on #44
<img src="https://user-images.githubusercontent.com/24731075/57074400-baaf2e00-6d1e-11e9-95fc-a5bc49f663f8.png" width="60%">

[2019-05-02 12:40] Jisoo-Min commented on #44
<img src="https://user-images.githubusercontent.com/24731075/57075790-cf8dc080-6d22-11e9-8325-eafaa9f005eb.png" width="60%">

색깔바꿈 ㅎㅎㅎㅎ

[2019-05-03 07:45] aaa0265 commented on #45
네트워크 문제일 가능성이 있어서 backgroud에서 실행해보기!

[2019-05-03 08:34] Jisoo-Min commented on #44
정해진 문구
Welcome ଘ(੭*ˊᵕˋ)੭*
'황수진' 고객님, '제품이름'은 어떠세요? '제품분류'코너에 준비되어있습니다.

[2019-05-03 08:53] Jisoo-Min opened #46 "api로부터 받은 data를 python에서 읽기 오류"

[2019-05-03 08:55] Jisoo-Min commented on #46
API를 통해 광고로 보낼 정보를 받아왔으나, python에서 제대로 element들을 가져올 수 없음
<img width="617" alt="스크린샷 2019-05-03 오후 5 56 03" src="https://user-images.githubusercontent.com/24731075/57127918-cb1de200-6dcc-11e9-92b3-426499ac1b94.png">

[2019-05-03 08:57] HSOOJ commented on #46
`response[0]`
![image](https://user-images.githubusercontent.com/20984428/57127813-7f6b3880-6dcc-11e9-9e9b-1a0e23734b6d.png)

`response.text[0]`
![image](https://user-images.githubusercontent.com/20984428/57127901-c1947a00-6dcc-11e9-868f-bb5a4e7eb5ff.png)

[2019-05-03 08:58] HSOOJ commented on #46
`response.text['user_id']`
![image](https://user-images.githubusercontent.com/20984428/57127992-03252500-6dcd-11e9-94e6-829b0ca0f1e6.png)

[2019-05-03 08:58] Jisoo-Min commented on #45
백그라운드에서 실행하는 방법
`nohup python 실행할파일 &`

출력결과는 nohup.out에서 확인가능

[2019-05-03 08:59] Jisoo-Min commented on #46
`response.json()['user_id']`
이렇게 해바~~

[2019-05-03 09:00] HSOOJ commented on #46
오 된다 ㅎㅅㅎ
![image](https://user-images.githubusercontent.com/20984428/57128065-3ebfef00-6dcd-11e9-9526-a7b00c9f25ae.png)

[2019-05-03 09:00] #46 closed, assigned to HSOOJ, Jisoo-Min

[2019-05-03 11:13] james-sungjae-lee opened #47 "Architecture 수정 : Lambda 에서 Local Function 으로 전환"
기존의 S3 -> Lambda -> Rekognition -> Lambda -> SNS -> Local Display Machine 을 계획하였으나, 더 간단하고 빠른 속도의 설계를 구현할 수 있게 되어 해당 방향으로 Architecture 를 새롭게 구성하려 한다.

해당 방법은 Local Display Machine 으로 Ubuntu 가 아닌 Jetson 을 사용하는 것이며, 이로 인하여 Face Detection 성능에 영향을 미칠 수 있지만 크게 문제되지 않을 것으로 예상하고 진행한다.

해당 방법에서는 Jetson TX2 -> Python 을 이용한 Local Trigger -> S3 업로드 -> Python 을 이용한 Rekognition 분석 -> JSON 결과값을 분석 후 HTML 을 이용한

[2019-05-03 11:14] james-sungjae-lee commented on #43
SNS 를 이용한 Lambda -> Local 작업이 아닌, Local 내에서 작업으로 시스템이 변경되어 현 이슈가 필요하지 않게 되었다.

[2019-05-03 11:14] #43 closed, assigned to james-sungjae-lee, HSOOJ

[2019-05-03 13:04] Jisoo-Min commented on #45
위에 처럼 코드 실행했을 때 백그라우드에서 작업되는 내용이 정상적으로 되지않을경우
` nohup python -u ./main.py > mylog.log &` 처럼 하기!!!
프린트 등 실행결과가 log에 저장됨

[2019-05-03 13:34] Jisoo-Min opened #48 "DynamoDB로 추천 결과 보내기"
,

[2019-05-03 13:35] Jisoo-Min commented on #48
![image](https://user-images.githubusercontent.com/24731075/57140834-aee16b80-6df3-11e9-8379-3439e73cfbc4.png)
실제로 추천된 결과를 넣으려고  작업중인  EC2인스턴스 계정에서
dynamodb로 결과 보내는 예제 진행중에 에러발생함..

일단 aws configure했는데 문제해결안됨

[2019-05-03 13:51] Jisoo-Min commented on #48
일단 EC2에서 DynomoDB에 접근할 수 있도록Role을 추가해줬는데 문제해결 X

[2019-05-03 14:44] Jisoo-Min commented on #48
EC2계정 -> 지영이꺼에서 이루어지는 건데
지영이 credential 을 등록했더니 오류가 남(DB는 생성한상태)
credential에 문제가 있는 듯싶어 원래 테스트를 하던 계정(지수)로 연결해서 하니 잘됬다

그냥 이대로 하면될듯

결론 -> 알고리즘 돌아가는 EC2인스턴스 : 지영이계정, 추천 결과 저장하는 DynamoDB : 지수껄로 됨

[2019-05-04 04:15] aaa0265 commented on #45
백그라운드에서 실행하는 방법을 통해 해결했습니다!!
(train set 이후 작업들도 오류 없이 실행됨)
![스크린샷, 2019-05-04 17-04-18](https://user-images.githubusercontent.com/26623522/57176105-b144d380-6e8e-11e9-90d7-a8ca9dcf6340.png)

[2019-05-04 04:26] Jisoo-Min commented on #48
<img src="https://user-images.githubusercontent.com/24731075/57173800-379ded00-6e70-11e9-87a0-2614082726a4.png" width="20%">

이걸로 테스트

[2019-05-04 04:39] Jisoo-Min opened #49 "광고이미지 S3에 올리기"

[2019-05-04 04:53] Jisoo-Min commented on #48
<img src="https://user-images.githubusercontent.com/24731075/57174091-e98ae880-6e73-11e9-97f2-0e0f6913db04.png" width="50%">

https://github.com/kookmin-sw/2019-cap1-2019_4/blob/recommendation/src/recommendation/aws_dynamodb/add_item_to_dynamodb.py

잘올라감!!!

[2019-05-04 06:06] Jisoo-Min commented on #49
HELPER @HSOOJ @aaa0265

[2019-05-04 10:43] HSOOJ commented on #44
정해진 문구 반영
![image](https://user-images.githubusercontent.com/20984428/57177970-b9a80900-6ea4-11e9-8515-807600dd2a46.png)

[2019-05-04 11:43] Jisoo-Min commented on #44
@HSOOJ  boldㅊㅔ로 바꾸면 어떨까? ㅎㅅㅎ
두번째줄도 ㅎㅎㅎ

[2019-05-04 11:52] Jisoo-Min commented on #44
그리고그 코너랑 그런거는 나중에 지원이한테서 결과나오면 완성시켜줄수있을듯ㅎㅎㅎ

[2019-05-04 12:07] HSOOJ commented on #44
@jiisoo 첫번째줄은 html 에서 <.h2> 쓴거고 두번째줄은 js 에서 색 있는거만 <.b> 한거얌!

[2019-05-07 04:19] Jisoo-Min opened #50 "Evaluation기록하기!!"
evaluation 할때마다 수치 기록하기

[2019-05-07 05:46] james-sungjae-lee opened #51 "Flex Ads Demo 를 위한 TX2 (Camera) 설치 방법의 논의"
Flex Ads Demo 를 위해서, 일정한 높이에 카메라가 있어야 정확한 인식이 가능하다

이를 위해서 물리적으로 카메라를 바닥에서 1.7~1.8m 위치에 있도록 설치해야 한다.

대표적인 방법으로, 삼각대를 이용하여 TX2 를 설치할 수 있으며

이 때 TX2 를 통째로 올려놓거나, Camera 의 extension cable 을 이용하여 Camera Module 만 올려놓을 수 있다

사전조사로 Extension Cable 의 설치가 어떻게 가능한지에 대해 알아보도록 한다.

[2019-05-07 05:49] james-sungjae-lee opened #52 "Python 코드에서 C++ Excutable File 의 실행에 관하여"
하나의 Python Code 를 실행시켰을 때, detectnet-camera facenet 과 inotify 코드가 함께 실행되는 편이

하나의 Pipeline 을 이루며 오류 없이 더 잘 실행될 수 있을 것으로 보인다.

이를 위해서 python 의 os 패키지를 사용할 수 있다는 것을 확인하였다.

[2019-05-07 06:30] Jisoo-Min commented on #48
table에서 none을 제외하고 products table과 merge를 하는데, 에러남
<img src="https://user-images.githubusercontent.com/24731075/57276542-ee060a00-70dc-11e9-8894-46d45768fab4.png" width="25%">
얘를 none을 제외하고 product와 merge하니
<img src="https://user-images.githubusercontent.com/24731075/57276559-f65e4500-70dc-11e9-8780-bb57f1b8596a.png" width="40%">
예상했던 결과와 다른 결과가 나타남

[2019-05-07 06:35] Jisoo-Min commented on #48
아 일부만 출력되었고 모여서 그런것이였음
<img src="https://user-images.githubusercontent.com/24731075/57276834-aa5fd000-70dd-11e9-94c0-1d69cb38d462.png" width="40%">

잘됨!!

[2019-05-07 06:49] james-sungjae-lee opened #53 "Rekognition의 Time Latency 를 고려한 Inotify S3, Rekognition Trigger 개발"
현재 구현된 Inotify 기반의 Event Trigger 는 Rekognition 에서 인식될 때 까지의 Latency 이후에 다음 순차 Event 를 처리하기 때문에 시간이 맞지 않는 문제가 발생한다.

![2019_05_07-3](https://user-images.githubusercontent.com/20024627/57277380-fe1ee900-70de-11e9-91d2-79d7af464dcd.jpeg)

이를 해결하기 위해서 Rekognition 에서 인식된 시점과 가장 가까운 시간에 생성된 Cropped Face Image 를 분석하도록 개발할 필요가 있다.

기본적인 아이디어로, Filename 과 Time 의 두 가지 리스트 자료구조를 생성한 다음

각각의 리스트에 Filename 과 해

[2019-05-07 06:52] james-sungjae-lee commented on #52
inotify 객체를 생성한 다음, os.system(./detectnet-camera facenet) 을 이용하여 해결 가능하다

https://stackoverflow.com/questions/2473655/how-to-make-a-call-to-an-executable-from-python-script

하지만, 해당 방법으로 실행해본 결과 facenet 이 실행 종료된 다음, inotify 기능이 작동하는 것으로 보아 적절하게 실행되지 않는 문제가 발생하였다.

동시에 face detection 의 print 결과와 inotify 를 이용한 s3 upload, rekognition 분석 결과가 하나의 bash shell 에서 나타나기 때문에 가독성이 좋지 않다.

해당 이유로 기존과 동일하게 서로 다

[2019-05-07 06:52] #52 closed, assigned to james-sungjae-lee

[2019-05-08 09:07] aaa0265 commented on #50
First
- dep_prob : 각 유저당 해당 대분류의 상품을 살 확률
- aisle_prob : 각 유저당 해당 소분류의 상품을 살 확률
- dow_prob :  각 유저당 월~일에에 구매할 확률
- hour_prob : 각 유저당 0~24시에 구매할 확률
- organic : 각 유저당 organic 상품을 구매할 확률

위 5개의 feature를 통한 evaluation 결과
private : 0.24738
public : 0.24899

[2019-05-08 09:09] aaa0265 commented on #50
second

- dep_prob : 각 유저당 해당 대분류의 상품을 살 확률
- aisle_prob : 각 유저당 해당 소분류의 상품을 살 확률
- dow_prob :  각 유저당 월~일에에 구매할 확률
- hour_prob : 각 유저당 0~24시에 구매할 확률
- organic : 각 유저당 organic 상품을 구매할 확률
- latest_xxx : 제일 최근 구매한 상품 개수와 그 상품이 재구매 된 횟수 (2개)

위 7개 feature를 통한 evaluation 결과
private : 0.34293
public : 0.34564

[2019-05-08 09:15] aaa0265 commented on #50
Third

- dep_prob : 각 유저당 해당 대분류의 상품을 살 확률
- aisle_prob : 각 유저당 해당 소분류의 상품을 살 확률
- dow_prob :  각 유저당 월~일에에 구매할 확률
- hour_prob : 각 유저당 0~24시에 구매할 확률
- organic : 각 유저당 organic 상품을 구매할 확률
- latest_xxx : 제일 최근 구매한 상품 개수와 그 상품이 재구매 된 횟수
- timezone : 0~24시간을 4개의 범위로 나눠 label를 설정한 것

두번째 eval에 한 가지(timezone)를 추가한 것
private : 0.34128
public : 0. 34404
-> timezone이 추가되면서 결과가 조금 내려감.

[2019-05-08 10:25] aaa0265 commented on #45
![usage](https://user-images.githubusercontent.com/26623522/57368753-e02cb380-71c6-11e9-9895-1d31ef71cad6.png)

사용하는 데이터가 커서 사용중인 용량이 금방 채워져 코드가 진행하다 오류 발생

[2019-05-09 05:21] HSOOJ commented on #51
검색해보았을 때 TX1의 카메라는 'Omnivision OV5693 -5MP' 임을 알 수 있었다
https://www.youtube.com/watch?v=mJBA1Y4BlXY
https://www.jetsonhacks.com/2015/11/13/nvidia-jetson-tx1-module-connector/

[2019-05-09 14:48] HSOOJ commented on #51
![image](https://user-images.githubusercontent.com/20984428/57462335-a08fc580-72b3-11e9-9fd1-dd9fb2b39657.png)
이걸보면 micro coaxial cable 같은 케이블을 이용하는것 같은데 잘 모루겠다.....ㅠㅂㅠ

[2019-05-10 13:13] james-sungjae-lee commented on #53
List 등을 사용하는 등의 다양한 방법으로 접근하였지만, 하나의 프로세스 내에서 제어되는 inotify 의 특성상 해결 불가능 하였다

다양한 시도 끝에 Python 의 Multithreading 을 이용하여 동 시간대에 서로 다른 Process 를 작동하게 함으로써 구현이 가능했다

관련 inotify 테스트 코드는 하단 링크에 작성되어 있다

https://github.com/kookmin-sw/2019-cap1-2019_4/blob/face_recognition/src/face_recognition/inotify_multithreading.py

[2019-05-11 06:07] aaa0265 commented on #45
Feature를 합치는 과정에서 메모리 오류 발생
![스크린샷, 2019-05-11 15-06-49](https://user-images.githubusercontent.com/26623522/57565789-88788d00-73fe-11e9-87ea-46dbcedbde77.png)

[2019-05-11 06:24] Jisoo-Min commented on #45
인스턴스 그냥 키우는게 낫겟다.!
\+ xgboost 모델 thread지정하는 파라미터 추가하기

[2019-05-11 06:34] Jisoo-Min commented on #49
현재 300개 정도 광고이미지 로드됨  + 추가 광고이미지는 최종 결과에 맞춰 업로드

[2019-05-11 06:34] Jisoo-Min commented on #49
https://docs.google.com/spreadsheets/d/1v51ueixiCRPUFNlyfbBQISrS6eodlZB17leqfwh69nk/edit?usp=sharing

[2019-05-11 06:35] Jisoo-Min commented on #48
대용량의 item을 dynamoDB로 보내려고 오래걸림
-> 올릴 광고내용이 75000개 정도 이므로 오래걸리는 것
-> 백그라운드로 돌리기!
-> 대신 어디까지 올렸는지 print문을 추가함

[2019-05-11 06:44] Jisoo-Min commented on #48
고객아이디 - 추천할 제품 아이디- 추천할 제품 명 - 추천할 제품 코너 아이디 - 추천할 제품 코너 명

<img src="https://user-images.githubusercontent.com/24731075/57566100-95e44600-7403-11e9-8d89-d921f9c643ed.png" width="60%">

[2019-05-11 07:48] Jisoo-Min commented on #21
EC2작업 대부분 완료 되었고 필요한 사항 추가했음

[2019-05-11 07:48] #21 closed, assigned to Jisoo-Min, aaa0265

[2019-05-11 07:48] #8 closed, assigned to Jisoo-Min, wldud8463

[2019-05-13 14:07] HSOOJ commented on #49
제품 사진 대신에 제품 광고 사진을 찾아서 하는것이 좋을것 같습니다용

[2019-05-13 15:06] Jisoo-Min commented on #49
예이예이 그럽시다융

[2019-05-14 01:22] Jisoo-Min commented on #44
폰트모음이다
https://fonts.google.com/specimen/Jua
https://fonts.google.com/specimen/Black+Han+Sans

[2019-05-14 01:43] HSOOJ commented on #44
![image](https://user-images.githubusercontent.com/20984428/57664923-edb5c380-7634-11e9-835c-4fc4c37eeea9.png)
이런 느낌으로 만들고싶다~ (피피티로 만듦)

[2019-05-14 04:24] Jisoo-Min commented on #48
product nameㅇㅣ랑, aisle name, bucket url까지보내줘야함

[2019-05-14 04:37] Jisoo-Min commented on #44
수진아그거 각깍 json에

[code]
이렇게있으니까 필요한거받아가면댄다
@HSOOJ

[2019-05-14 05:05] #14 closed, assigned to Jisoo-Min, aaa0265, wldud8463

[2019-05-14 05:05] #3 closed, assigned to Jisoo-Min, aaa0265, wldud8463

[2019-05-14 05:05] Jisoo-Min commented on #18
피쳐에 대한 의미가 파악되어 완료함

[2019-05-14 05:05] #18 closed, assigned to Jisoo-Min

[2019-05-14 05:05] Jisoo-Min commented on #48
user_id  product_id        product_name  aisle_id   aisle

[2019-05-14 05:05] #48 closed, assigned to Jisoo-Min

[2019-05-14 07:05] aaa0265 commented on #50
스크린 캡쳐로 설명 대체
![01](https://user-images.githubusercontent.com/26623522/57677591-26b85d00-7662-11e9-8387-e2f01b0ab0ab.png)

[2019-05-14 07:07] aaa0265 commented on #50
![02](https://user-images.githubusercontent.com/26623522/57677669-510a1a80-7662-11e9-9a58-cee02b45b235.png)

[2019-05-14 07:07] aaa0265 commented on #50
![스크린샷, 2019-05-14 16-07-22](https://user-images.githubusercontent.com/26623522/57677693-61ba9080-7662-11e9-9243-4419e45d474f.png)

[2019-05-14 07:16] HSOOJ commented on #44
@jiisoo update_ver는 머야?

[2019-05-14 10:30] aaa0265 commented on #50
model 생성시 최대 depth을 줄이면 정말 작은 값이지만 증가하는 것을 볼 수 있다.
![비교](https://user-images.githubusercontent.com/26623522/57691235-9dfbea00-767e-11e9-8ef6-a5caab2db038.png)
-> 첫번째와 다섯번째 값을 통해 알 수 있음

[2019-05-14 11:09] Jisoo-Min commented on #44
아그거 지금 몇번째로 데이터 올린건지 ㅇㅅㅇ
일주일마다 업데이트하기로햇는데  그거마다 버전얼라가는건데 너눈 무시해두대!!!

[2019-05-15 02:31] HSOOJ commented on #44
![image](https://user-images.githubusercontent.com/20984428/57744470-515af200-7704-11e9-9a97-99d5ad2cb171.png)
광고 화면 초안 최종본 ㅎ_ㅎ
전시할 때 데모 환경(모니터 크기, 웹 크기) 파악 후 거기에 맞춰서 수정할 예정

[2019-05-16 06:26] james-sungjae-lee opened #54 "Jetson TX2 에서의 chromedriver 사용 문제"
Jetson TX2 에서는 Chrome-Browser 가 아닌, Chromium-Browser 를 사용하고 있으며,

일반적인 Chromedriver 를 사용할 경우 미스매치로 인한 오류가 발생한다.

이를 해결하기 위해 apt 를 통한 chromium-chromedriver 를 설치하여 해당 binary file 을

chromedriver path 로 지정해줄 필요가 있을 것으로 보인다.

관련된 링크
https://askubuntu.com/questions/1004947/how-do-i-use-the-chrome-driver-in-ubuntu-16-04

[2019-05-16 07:59] james-sungjae-lee opened #55 "Demo 를 위한 Jetson TX2 Display 의 구성"
현재 27인치 Display 에서 Demo 를 보여주기 위한 테스트를 진행하고 있으며,

최대한 적절한 정보를 한 화면에 보여줄 수 있도록 Flex Ads 요소들의 구성 및 배치를 생각해야 한다.

Flex Ads 에서 출력되는 요소를 중요도 순으로 나열해보면,

1. Chromium 을 이용한 광고 송출 웹화면
2. detectenet-camera facenet 의 gldisplay 화면 ( face detection 장면 )
- 적절하게 얼굴이 잡히고 있는지 확인하기 위해 필요하다
3. inotify + rekognition python 실행 terminal 화면
- 적절하게 face recognition 이 진행되고 있는지 log 를 확인하기 위해 필요하다.
4. detectnet-camera face

[2019-05-16 08:01] james-sungjae-lee commented on #55
기본적으로 1 ~ 3 번 요소가 필수적인 것으로 보이며, 이에 따라 테스트 해 본 화면은 다음과 같다.

![Screenshot from 2019-05-16 16-23-01 (1)](https://user-images.githubusercontent.com/20024627/57836609-06bca100-77fc-11e9-9af4-13344770082c.png)

1번의 광고송출 웹화면의 광고 이미지와 텍스트 배치가 더 적절하게 될 수 있을 것으로 보인다.

[2019-05-16 08:05] james-sungjae-lee commented on #51
삼각대 위에 TX2 를 통째로 올려놓는 것은, 고정을 위한 너츠가 존재하지 않아 무리가 있다.

onboard camera 를 연장하는 것 또한 위의 상황으로 보아 무리가 있다

이에 usb 를 이용한 logitech 의 추가 camera 를 사용하는 것을 고려한다.

이 경우, 삼각대에 설치 가능한 것을 확인한 상태이며 detectnet-camera 에서 camera port 를 변경해 줄 필요가 있다.

현재는 해당 camera 를 빌려서 테스트 하는 상태이며, 가능하다면 usb hub 와 함께 구매할 필요가 있다.

![IMG_0757](https://user-images.githubusercontent.com/20024627/57836901-a67a2f00-77fc-11e9-98b8-b94f12e90

[2019-05-16 08:07] james-sungjae-lee commented on #38
지도교수님과 논의하고, 실제 테스트 한 결과

이미지 저장 시 생기는 품질의 저하는 face recognition 에 큰 문제를 일으키지 않는 것으로 보인다.

이에 이슈를 닫고, 관련된 문제가 생길 경우 다시 열도록 한다.

[2019-05-16 08:13] aaa0265 commented on #50
reordered_xxx ,  order_ratio_bychance 함수와 model depth 5로 줄인 것이 0.36302로 제일 높아졌다.

[2019-05-16 08:14] james-sungjae-lee opened #56 "S3 upload, Rekognition 의 Latency 의 측정 및 문제점 분석"
S3 를 업로드하고, Rekognition 을 분석하는 데 가장 많은 Latency 가 발생한다.

이러한 Latency 를 측정하기 위해 python 의 time 을 이용하여 face image 가 인식된 시점부터

분석 결과가 나타날 때 까지의 elapsed time 을 측정하였다.

기본적으로 시스템을 가동하고 첫 번째 인식 및 분석되는 사람의 경우 7 ~ 8 초 정도의 Latency 가 발생하며

그 이후로는 3.3 ~ 3.7 사이의 일정한 Latency 를 보이고 있다.

![latency](https://user-images.githubusercontent.com/20024627/57837488-e392f100-77fd-11e9-9e08-630f9dfa3998.png)

더 빠른 시스템이 필요할

[2019-05-17 12:43] james-sungjae-lee commented on #53
멀티스레딩을 이용한 구현에 관해 그림으로 정리하면 아래와 같다.

![IMG_0760](https://user-images.githubusercontent.com/20024627/57928845-b7a26900-78ec-11e9-9b6e-5690bae6f9fe.jpeg)

[2019-05-17 12:43] #53 closed, assigned to james-sungjae-lee

[2019-05-17 12:51] james-sungjae-lee commented on #51
얼굴 등록 시스템을 위한 TX1 의 카메라와

얼굴 인식 시스템을 위한 TX2 의 카메라의 2개가 필요하다

얼굴 등록 시스템의 카메라는 Jetson 의 Onboard 로 진행한다 하더라도, 최소 1개가 필요하다

이를 해결하기 위해서 Stable 한 최소 1개의 카메라를 구할 필요가 있으며, 최대 2개의 카메라를 보유하여야 한다.

이에 교수님과 의논 및 학과 사무실에 요청하여 결과적으로 Microsoft 의 LifCam Studio 를 빌릴 수 있었다.

기존의 Logitech C920 보다 화질은 떨어지지만, 정상작동 하는 것을 확인하였다.

![Image from iOS](https://user-images.githubusercontent.com/20024627/57929262-c9d0d700-78e

[2019-05-17 12:51] #51 closed, assigned to james-sungjae-lee, HSOOJ

[2019-05-17 12:53] james-sungjae-lee commented on #38
이미지의 품질 문제는 Jetson 의 Onboard 카메라의 문제였던 것으로 확인되었다.

C920 이나 LifeCam Studio 의 USB 카메라를 사용하였을 때는 전혀 문제가 생기지 않았다.

[2019-05-17 12:53] #38 closed, assigned to james-sungjae-lee, HSOOJ

[2019-05-17 13:01] james-sungjae-lee commented on #54
Jetson 에서 Chromedriver 를 정확하게 사용하기 위한 방법은 다음과 같다.

1. sudo apt-get install chromium-chromedriver 를 이용해

2. which chromedriver 로 설치경로를 확인한다.

3. 해당 경로의 chromedriver 로 path 를 잡아주거나, cp 를 이용해 프로젝트 폴더로 binary 를 이동시켜 테스트한다.

이를 통해 정상적으로 Jetson 환경에서 chromedriver 를 활용한 광고 송출이 가능하게 되었다.

[2019-05-17 13:01] #54 closed, assigned to james-sungjae-lee

[2019-05-17 13:13] james-sungjae-lee commented on #47
Jetson 에서 광고 송출 디스플레이의 연결 뿐 아니라,
Indexing Face Dataset 부분도 함께 Scenario 에 추가하여 새롭게 그린 것은 다음과 같다.

![flexads_scenario_oneslide4](https://user-images.githubusercontent.com/20024627/57930387-cbe86500-78f0-11e9-83f9-0744c9bbab71.png)

완료 되었으므로 이슈를 닫는다.

[2019-05-17 13:13] #47 closed, assigned to james-sungjae-lee, HSOOJ

[2019-05-18 12:11] HSOOJ opened #62 "DynamoDB 로 부터 받아온 정보가 웹 화면에 뜨지 않는 에러"
기존에 사용했던 테스트유저가 아닌 새로운 유저의 정보를 등록한 후 테스트를 진행하였더니
다음과 같이 아무런 정보가 나타나지 않는 문제가 발생하였다.

![image](https://user-images.githubusercontent.com/20984428/57969234-049b4380-79b0-11e9-9289-c7115ceb5f67.png)

console 을 확인해보니 javascript 코드에서 `Uncaught URIError: URI malformed` 라는 오류가 발생하였다.

[2019-05-19 05:28] HSOOJ commented on #62
![image](https://user-images.githubusercontent.com/20984428/57978145-feee3e00-7a41-11e9-8f0f-855e5765719b.png)

`decodeURIComponent` 를 `unescape` 로 바꿨더니 해결되었지만 `unescape`는 웹표준에서 제거 되었기 때문에 표준을 따르는 다른 방법을 찾아봐야할 것같다.
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/unescape

[2019-05-19 07:28] james-sungjae-lee commented on #40
**1단계 : 얼굴 데이터 수집**

Rekognition 을 사용하기 위해서는 먼저 Recognize 하고자 하는 사람의 얼굴 데이터를 수집하여야 한다.

Flex Ads 에서는 미리 만들어둔 Jetson 의 detectnet-camera 의 facenet 모델을 이용하여 사람을 촬영하고,

얼굴 부분만 크롭핑 하여 이미지 데이터로 저장하도록 하였다. 이를 통해 간편하게 얼굴 데이터의 수집이 가능하다

얼굴 데이터를 수집할 때, 몇 가지 주의사항이 있으며 이는 AWS Rekognition Documentation 에서 제공하는

"입력 이미지에 대한 권장 사항" 을 고려하면 된다.

https://docs.aws.amazon.com/ko_kr/rekognition/latest/dg/recommendatio

[2019-05-19 07:44] james-sungjae-lee commented on #40
**2단계 : collection 생성 및 관리**

수집된 얼굴 데이터를 Rekognition 에 등록(학습, 인덱싱) 하기 위해서는 collection 을 생성해야 한다.

collection 이란 N 명의 얼굴을 등록하여 클러스터링(인덱싱) 한 얼굴 집합으로 생각할 수 있다.

A, B, C 를 X collection 에 등록하면, X 를 호출하여 새로운 이미지에 A, B, C 가 존재하는지 확인 가능하다

collection 을 생성(create), 나열(list), 설명(describe), 삭제(remove) 하는 것은 문서를 통해 확인 가능하다.

생성
https://docs.aws.amazon.com/ko_kr/rekognition/latest/dg/create-collection-procedu

[2019-05-19 07:50] HSOOJ commented on #62
MDN 을 참고하였을 때 `unescape` 대신 `decodeURI` 혹은 `decodeURIComponent`을 이용하라고 되어있어서 진행해보았지만 처음과 같은 오류가 발생한다 :(

[2019-05-19 08:00] HSOOJ commented on #62
인코딩 작업을 직접 코드로 작성하지 않고 실행해보면 다음과 같은 결과가 나온다
![image](https://user-images.githubusercontent.com/20984428/57979286-a1b0b780-7a56-11e9-8ae9-64d2187bafa6.png)

%20 이 space를 의미한다고 한다.

[2019-05-19 08:02] HSOOJ commented on #62
지금 문제가 발생하는 product name은 "2% Reduced Fat Milk" 인데 이를 인코딩 했을 경우 "2%25%20Reduced%20Fat%20Milk" 이런식으로 %도 인코딩 되어서 %25가 나와야하는데 안나온다,,,
다음은 MDN에서 온라인으로 인코딩 디코딩 해본 캡쳐화면이다.

![image](https://user-images.githubusercontent.com/20984428/57979370-ab86ea80-7a57-11e9-89e8-b7fe42134f14.png)

[2019-05-19 08:04] HSOOJ commented on #62
그래서 정규식을 이용하여 %20을 space로 바꾸는 방식으로 진행하고자 한다.

![image](https://user-images.githubusercontent.com/20984428/57979400-0ddfeb00-7a58-11e9-950d-370b8b9f4411.png)

[2019-05-19 08:30] james-sungjae-lee commented on #40
**3단계 : collection 에 얼굴 등록**

일반적으로 collection 에 얼굴을 등록하는 과정은 다음과 같다.

Local Face Image -> S3 Upload -> Add to collection

이는 S3 에 얼굴 이미지를 저장하여 안정적인 시스템을 구축하기 위함이며, S3 에서는 다음의 과정이 필요하다

S3 Root 위치에 업로드 -> collection 에 추가 -> S3 업로드 이미지 정리 ( train/ 으로 이동 ) -> 기존이미지 삭제

Documentation 에서 "모음에 얼굴 추가" 에서 확인할 수 있다.

https://docs.aws.amazon.com/ko_kr/rekognition/latest/dg/add-faces-to-collection-procedure

[2019-05-19 14:43] james-sungjae-lee commented on #40
**4단계 : 이미지를 이용한 collection 검색**

collection 에 얼굴을 등록하는 과정과 마찬가지로, S3 를 거쳐 검색하게 된다.

Local Face Image -> S3 Upload -> Search Collection -> Return ID to Local

Documentation 의 "이미지를 사용하여 얼굴 검색" 에서 확인 가능하다

https://docs.aws.amazon.com/ko_kr/rekognition/latest/dg/search-face-with-image-procedure.html

Python Boto3 에서는 SearchFaceByImage 메소드를 이용해 사용 가능하다

    response=client.search_faces_by_image(Colle

[2019-05-20 09:37] Jisoo-Min commented on #49
추천 결과에 맞는 광고이미지를 찾고
고객에게 바로바로 매칭될 수 있도록 데이터 만들어놓음!

<img src="https://user-images.githubusercontent.com/24731075/58012049-8b762a80-7b2e-11e9-9d1e-cd7ae58a5fcb.png" width="60%">

[2019-05-20 09:39] Jisoo-Min commented on #49
팀원 5명에 대한 매칭 정보

![image](https://user-images.githubusercontent.com/24731075/58012087-a21c8180-7b2e-11e9-83e6-d5f263a91bdc.png)

[2019-05-20 11:59] #40 closed, assigned to james-sungjae-lee

[2019-05-20 12:16] james-sungjae-lee opened #63 "Jetson TX1 을 활용한 회원 등록 시스템의 구현"
실제 Flex Ads 가 마켓에서 사용될 때는, 이미 등록된 회원에 대하여 Face 등록만 하면 되지만,

Flex Ads Demo 를 위해서는 새로운 사람의 얼굴과 이름을 시스템에 등록하는 과정이 필요하다

이를 위해서 Jetson TX1 을 보조로 사용하여 얼굴 등록 시스템을 구현하도록 한다.

1. detectnet-camera facenet 을 이용하여 얼굴 데이터셋을 생성한다.

2. 어떤 상품을 추천받고자 하는지 고객이 선택한다.

3. DynamoDB 에 해당 고객의 이름을 적절한 상품의 user_id 에 맞게 등록한다.

4. 해당 user_id 를 이용하여 얼굴 데이터셋을 학습시킨다

대부분의 사항은 이미 구현되어 있으며, 다음과 같은 사항을 구현하고자 한다.

- collection 에 학

[2019-05-21 07:40] james-sungjae-lee opened #64 "Flex Ads Base Page 의 구성"
현재는 아무도 인식되지 않은 상황에 대하여, Chrome 의 빈 페이지를 송출하고 있는 상황이다.

여기에 사용자 경험을 높이기 위해서 아무도 인식되지 않은 상황에 Flex Ads 의 기본 페이지를 송출해야 한다.

코드 상으로는 통합 python 코드를 실행하였을 때, 해당 페이지의 html 파일을 호출하도록 driver get 한다.

뿐만 아니라, 기본 페이지에서 무엇을 어떻게 보여줄지에 대해 고민할 필요가 있다

추가적으로 화면 전환 효과, 비회원 출력 화면, 인물이 인식되지 않는 경우의 화면을 고려하여야 한다.

[2019-05-21 08:08] Jisoo-Min commented on #64
인식 안될경우에 그럼 user 0번으로 해서 할래요?
근데 사람인지는 잡히는데 누군지 모르는걸 캐치할수있어융? 그럼 user 0으로 만들어놓을께욤 ㅇㅅㅇ

[2019-05-21 08:12] james-sungjae-lee commented on #64
인식 안될 경우의 케이스가 2가지 존재하는데,

1번 : detectnet-camera facenet 에서 Detect 에 실패한 경우 ( 앞에 사람이 없는 경우 )

2번 : Detect 는 되었지만 Rekognition 에 등록되어 있지 않은 사람인 경우 ( 비회원인 경우 )

여기에 대하여 비회원인 경우에 user_id = 0 으로 만들어 두면 괜찮을 것으로 보입니다.

여기에 해당하는 이미지도 어떤 이미지를 넣을 지에 대해서는 고민해볼 필요가 있습니다.

[2019-05-21 08:16] HSOOJ commented on #64
2번 비회원일 경우에는 회원 등록 유도하는 것은 어때요?
"회원 등록하시면 고객님에게 맞는 광고를 제공 받으실 수 있습니다" 느낌으로!

[2019-05-21 08:17] Jisoo-Min commented on #64
아

구래 구래구래 좋다

[2019-05-21 08:17] Jisoo-Min commented on #64
그러면 0번으로 이미지 찾아서 넣어벌게영!!

[2019-05-21 08:21] Jisoo-Min commented on #64
이거어떄염
![image](https://user-images.githubusercontent.com/24731075/58079780-c9398880-7bec-11e9-8b61-022eec05d9d7.png)

[2019-05-21 08:24] Jisoo-Min commented on #64
2.  이것도가능..
![image](https://user-images.githubusercontent.com/24731075/58080019-4b29b180-7bed-11e9-8c0f-6e0b34092c8a.png)

[2019-05-21 08:30] Jisoo-Min commented on #64
<img src="https://user-images.githubusercontent.com/24731075/58080342-03575a00-7bee-11e9-85d1-a9c888d15b04.png" width="60%">

<img src="https://user-images.githubusercontent.com/24731075/58080350-07837780-7bee-11e9-9e70-3d7539ecd162.png" width="60%">

문군구는 수진이 추천대로 아래껄로하면 좋을듯합니다.

[2019-05-21 08:32] HSOOJ commented on #64
저는 이런 컨셉을 생각했...!
![image](https://user-images.githubusercontent.com/20984428/58080544-60531000-7bee-11e9-852b-999d88f67b14.png)

[2019-05-21 10:38] Jisoo-Min commented on #64
![0](https://user-images.githubusercontent.com/24731075/58088907-9b5d3f80-7bfe-11e9-9054-64aa0899b9b4.png)
이걸로 결정!

[2019-05-21 10:39] Jisoo-Min commented on #50
기록 그래프로 공유하고 이슈 닫기~

[2019-05-21 10:40] aaa0265 commented on #50
![그래프](https://user-images.githubusercontent.com/26623522/58089613-3a366b80-7c00-11e9-843d-3780a296569e.png)
17번 제출 score 그래프 입니다.

[2019-05-21 10:40] #50 closed, assigned to aaa0265

[2019-05-21 10:40] Jisoo-Min commented on #49
팀원에 대한 광고정보와 ㄱ해당광고이미지,

추천 결과에 따른 광고이미지 (사람들이 직접 등록해볼 수 있도록) 모두 저장함!

[2019-05-21 10:40] #49 closed, assigned to HSOOJ, Jisoo-Min, aaa0265

[2019-05-21 12:57] james-sungjae-lee opened #65 "얼굴 인식 시스템의 exception 처리"
오늘 테스트 해 본 결과, 얼굴 인식 부분에서 크게 2가지 문제가 발생하였다.

1. 사람이 아닌 것을 얼굴로 잘못 인식하였을 때, ( detectnet-camera 문제 )
얼굴이 없는 이미지로 파일이 저장되고, 해당 데이터가 rekognition 에 올라가서 분석되었을 때
얼굴을 찾을 수 없다는 exception error 가 발생하며 rekog thread 가 작동을 중지한다

2. 회원으로 등록되지 않은 사람을 인식하였을 때, ( rekognition 문제 )
가장 유사한 사람으로 recognize 하여 값을 반환하게 된다.
이 문제는 rekognition 에서 response 의 threshold 를 50% 로 주어서 발생하는 문제로 보이며
수치만 변환하면 문제가 발생하지 않을 것으로 보인다.

1

[2019-05-21 12:59] james-sungjae-lee commented on #63
Jetson TX1 에서 동일한 detectnet-camera facenet 코드를 작동시켰음에도, cropped image 가 저장될 때

상하좌우로 n 배율 되어 저장되지 않고, bounding box 만 crop 되어 저장되는 문제가 발생하였다.

이를 해결하기 위해 우선 jetson tx1 에서 직접 utils 에 존재하는 loadimage.cpp 코드를 수정하여 새롭게

빌드해볼 필요가 있다. 이 때, camera port 를 1번으로 재설정 하는 것을 꼭 확인한다.

[2019-05-21 15:18] james-sungjae-lee commented on #65
1번 문제에 대한 에러 분석은 다음과 같다.

local 의 얼굴이 없는 이미지를 search_faces_by_image 로 테스트해 본 결과이다

테스트한 이미지는 아래와 같다.

<img width="794" alt="test2" src="https://user-images.githubusercontent.com/20024627/58108590-176b7d80-7c27-11e9-9358-1b4cef23a907.png">

에러 메시지는 아래와 같다.

<img width="934" alt="Screen Shot 2019-05-22 at 12 16 45 AM" src="https://user-images.githubusercontent.com/20024627/58108548-028eea00-7c27-11e

[2019-05-21 15:24] james-sungjae-lee commented on #65
1번 문제에 대한 기본적인 해결 방법으로, try: ~ except: 를 사용하는 방법이 있다.

try : ( response 부터 if, else 문 끝까지 ) except : ( 그 이후, pass ) 형태로 사용 가능하다

이러한 해결 방법으로 다시 데모를 테스트해 볼 필요가 있다.

[2019-05-21 15:38] #62 closed, assigned to HSOOJ

[2019-05-22 02:06] james-sungjae-lee commented on #63
Script 를 이용하여 얼굴 등록 시스템의 Pipeline 을 구축할 수 있을 것으로 보인다.

1. 기본적으로 작업할 위치는 Desktop/facedataset 디렉토리이다.

2. 해당 디렉토리에는 add_member.py 와 detectnet-camera 의 두 파일이 존재한다.

3. abcd 라는 사람이 등록을 하려고 오면, mkdir abcd 로 해당 사람의 데이터셋 폴더를 생성해준다

4. detectnet-camera 를 abcd 로 cp 또는 mv 한다

5. abcd 디렉토리에서 detectnet-camera facenet 을 실행한다.

6. 충분히 얼굴 데이터셋이 생성되었다면, detectnet 을 종료하고 얼굴 데이터셋을 확인시켜준다

7. 해당 디렉토리에 남아있는 detectnet

[2019-05-22 02:08] james-sungjae-lee commented on #63
@jiisoo

회원 등록 시스템을 구축하는데, 회원을 등록할 때 user_name 과 user_id 를 함께 받아오게 됨

이 때, DynamoDB 도 함께 연동해서 한 번에 등록 처리하면 하나의 Pipeline 으로 손쉽게 관리 가능할 것 같아

다만 문제는 AWS 에서 내쪽의 Rekognition 과 지수쪽의 DynamoDB 권한이 달라서 문제가 되는데

가능하다면 내가 DynamoDB 를 Modify 또는 Insert 하는 권한을 부여받아서 처리 가능하면 좋을 것 같아

[2019-05-22 04:54] Jisoo-Min commented on #63
오빠 계정아이디로 권한 줬는데 DynamoDB접근권한
확인해볼래요.? 확인은 어떻게 하는지모르게찌만 fullaccess줬씀니다@

[2019-05-22 07:17] james-sungjae-lee commented on #63
DynamoDB 는 오레곤(us-west-2) 에 있으며, client 생성 시 region_name = 'us-west-2' 로 지정하여야

정상적인 접근이 가능합니다

추가적으로, 동일한 머신에서 두 개 이상의 credential 을 사용하기 위해 우선은 id 와 key 를 코드에 임베딩 해 놓았으나

더 좋은 보안을 위해 다른 방법을 찾아볼 필요가 있습니다.

간단히 떠오르는 방법으로는, dynamodb_key.py 파일을 만들어, 해당 부분을 credential 처럼 취급하여

import 하여 간단하게 사용하는 방법이 가능할 것으로 보입니다.

[2019-05-22 08:14] #44 closed, assigned to HSOOJ, Jisoo-Min

[2019-05-22 08:39] HSOOJ commented on #64
비회원일때두 회원일때처럼 현재 시간 나오는게 좋을까요? 아니면 없는게 좋을까요?
@odobenuskr  대답점....

[2019-05-22 12:10] james-sungjae-lee commented on #63
전체 회원등록 파이프라인에 대한 구현 및 테스트가 완료되었기에, 이슈를 닫습니다.

[2019-05-22 12:10] #63 closed, assigned to james-sungjae-lee, Jisoo-Min

[2019-05-22 12:15] Jisoo-Min commented on #63
수고했씀니다아~~~~

[2019-05-23 01:58] james-sungjae-lee opened #69 "detectnet-camera 의 openGL Display 크기 조정"
TX1 의 등록 시스템이나, TX2 의 광고 송출 시스템 모두 자신의 얼굴이 인식되는지 정확하게 확인하기 위해

detectnet-camera facenet 을 실행하였을 때, openGL 을 이용해 화면에 렌더링 되는 것을 보여줄 필요가 있다.

하지만, 현재 해당 윈도우는 전체 화면에서 너무 큰 부분을 차지하여 크기를 조정할 필요가 있다.

이에 jetson-inference 코드에서 빌드할 때, opengl 과 관련된 코드를 수정하여 크기를 조정할 수 있는 것으로 보이며, 화면에 검은 부분이 없어지게 하는 것과 크기를 자유롭게 조정할 수 있는 것이 핵심이다.

[2019-05-23 07:59] james-sungjae-lee commented on #69
utils 에 display 와 texture 에 관한 두 가지 파일이 존재한다.

간단한 확인으로는, display 는 윈도우의 크기, texture 는 rendering 되는 화면의 크기로 보인다.

glDisplay.cpp
https://github.com/dusty-nv/jetson-utils/blob/2fb2b9dfd8323f99c22d3e2755b88345abd2f3a8/display/glDisplay.cpp

<img width="783" alt="Screen Shot 2019-05-23 at 4 58 46 PM" src="https://user-images.githubusercontent.com/20024627/58235576-0a13d780-7d7c-11e9-9666-95dfb37a7985.

[2019-05-23 12:00] HSOOJ commented on #64
인식 안될 경우의 2가지 케이스

1번 : detectnet-camera facenet 에서 Detect 에 실패한 경우 ( 앞에 사람이 없는 경우 )
![image](https://user-images.githubusercontent.com/20984428/58250996-94206800-7d9d-11e9-8026-f8b3e0a8e085.png)

2번 : Detect 는 되었지만 Rekognition 에 등록되어 있지 않은 사람인 경우 ( 비회원인 경우 )
 +현재 시간 나오도록 수정함
![image](https://user-images.githubusercontent.com/20984428/58250604-bfef1e00-7d9c-11e9-99a1-87a5ed2894dd.png)

[2019-05-23 12:56] HSOOJ commented on #64
회원인 경우의 광고 최종 화면
![image](https://user-images.githubusercontent.com/20984428/58254371-8c64c180-7da5-11e9-9525-f8b02f0a03fe.png)

[2019-05-23 12:56] #64 closed, assigned to james-sungjae-lee, HSOOJ, Jisoo-Min

[2019-05-23 23:10] james-sungjae-lee commented on #56
더 빠른 인식 시스템을 위해, 먼저 IN_CREATE +  time.sleep(1) 방식이 아닌 다른 Local File Detect 방식을 사용하도록 한다. 예를 들어, File Write 가 끝나는 지점을 인식할 수 있다.

[2019-05-24 01:38] james-sungjae-lee opened #70 "inotify_rekog_web.py 의 모듈화"
현재 Flex Ads 의 핵심 프로그램인 inotify_rekog_web 의 경우에는 Thread 단위로 Function 이 구분되어 있는 상태이다.

이에 대하여 더 세분화된 모듈화를 통해 가시성이 좋고 효율적인 프로그래밍이 가능할 것으로 보인다.

모듈화가 가능한 부분은 다음과 같다.

1. S3 에 업로드 된 Object 에 대하여 새로운 Directory 로 이동시키고 Remove 하는 작업

2. serverless 의 response 에서 json 데이터를 분해 및 추출하는 작업

해당 코드를 모듈화 후 테스트를 해보도록 한다.

[2019-05-24 01:44] james-sungjae-lee commented on #37
캡스톤 지도교수님이신 이경용 교수님과 빅데이터 연구실의 몇몇 인원에 대하여

Face Dataset 을 수집하고 Indexing 하는 작업을 완료하였으며, 정상 작동을 확인하였다.

우선은 추가적인 Dataset 의 구성은 하지 않고 Demo 에서 진행하도록 한다.

 사전 학습이 필요해질 경우 다시 이슈를 열도록 한다.

[2019-05-24 01:44] #37 closed, assigned to james-sungjae-lee

[2019-05-24 01:51] james-sungjae-lee commented on #56
관련 자료를를 찾아본 결과, IN_CLOSE_WRITE 를 사용해볼 수 있을 것 같다.

<img width="788" alt="Screen Shot 2019-05-24 at 10 51 01 AM" src="https://user-images.githubusercontent.com/20024627/58297191-d7b4b980-7e11-11e9-895b-3c7fd5dbbaed.png">

변경 후 테스트하여 결과를 보도록 한다.

[2019-05-24 02:22] james-sungjae-lee commented on #65
try: ~ except : 로 처리하였으며, except 에 걸릴 경우 default html 을 display 하도록 코드를 짰다.

또 다른 Exception Error 가 발생할 경우 다시 이슈를 열도록 한다.

[2019-05-24 02:22] #65 closed, assigned to james-sungjae-lee

[2019-05-24 10:19] Jisoo-Min opened #73 "데모용 CloudWatch 로그 남기기"
회원 등록시 추가되는 dynamoDB 데이터와
APIGateway요청 로그 남겨서 데모떄 보여주기

[2019-05-24 14:04] aaa0265 commented on #45
EC2 환경에서 plot tree 출력하는 부분에서 오류 발생

[2019-05-25 08:32] james-sungjae-lee opened #77 "[ 추가 구현 ] Flex Ads 관리자 웹 페이지 구현"
시간이 남았을 경우, 추가적으로 구현하면 좋을 관리 페이지에 대해 생각해 보았다.

구현은 선택 사항이며, 구현되었을 경우 어필하기 좋을 것으로 보인다.

웹 페이지 형태로 간단하게 Flex Ads 의 관리 페이지를 만드는 것도 좋아 보인다.

생각중인 기능은 다음과 같다.

1. 로고가 들어간 첫 페이지에서, 관리자 로그인 기능

2. 현재 등록된 DynamoDB 의 회원 데이터들 - 등록, 수정, 삭제 가능 ( 회원 관리 )

3. 회원 넘버를 클릭하였을 경우, S3 에 저장된 회원 얼굴 등록 이미지 중 하나를 보여줌
( S3 에 Directory 별로 저장되었기 때문에 어렵지 않음 )

4. RDS 의 회원 구매내역 데이터들 - 단순 로그 데이터로, 꺼내와 보여주는 기능

5. 그 외의 Jetson 보

[2019-05-25 12:36] aaa0265 commented on #45
![스크린샷, 2019-05-25 21-35-20](https://user-images.githubusercontent.com/26623522/58369431-260ea900-7f35-11e9-80c3-f8b41817bf45.png)
필요한 패키지를 설치했는데도 동일한 오류 발생

[2019-05-26 02:49] aaa0265 commented on #45
앞서 올린 오류는
import matplotlib
matplotlib.use('Agg')
-> 이 두줄을 추가하여 해결
![image](https://user-images.githubusercontent.com/26623522/58376734-34e47280-7fac-11e9-9640-3e7fc168e1a0.png)

[2019-05-26 02:50] aaa0265 commented on #45
다른 오류 발생
![image](https://user-images.githubusercontent.com/26623522/58376741-770db400-7fac-11e9-82b9-599a1c2cae99.png)

[2019-05-26 04:07] Jisoo-Min commented on #45
끊이지않는오류야.? ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ

[2019-05-26 13:59] james-sungjae-lee opened #79 "member_registration.sh 의 upload 이전 확인단계 추가"
현재는 member_registration.sh 을 실행하고, 이름과 회원번호만 입력하면

얼굴 촬영 및 데이터셋 생성, DynamoDB 수정, S3 업로드, Rekognition 분석 이 멈춤없이 진행된다.

하지만, 실제 Demo 시에는 1명의 데이터셋 생성 중에 다른 사람이 지나가며 잘못된 얼굴 데이터가

1명의 얼굴 데이터로 입력되는 문제가 발생할 수 있다. 이는 매우 심각한 문제로 이어질 수 있기 때문에

이러한 문제를 방지하기 위해 얼굴 데이터셋이 생성된 이후에 한번 더 입력 ( Enter ) 를 받도록 한다.

즉, 정리하면 다음과 같다.

1. 회원 이름과 번호를 입력받는다.

2. detectnet-camera facenet 을 실행한다.

3. 얼굴 데이터셋이 생성되어 Local File

[2019-05-27 01:30] Jisoo-Min commented on #73
cloudwatch를 이용해서 APIGateway에 요청한 기록을 살펴볼 수 있다.
![image](https://user-images.githubusercontent.com/24731075/58390085-5dcb3d00-806a-11e9-83f7-b985ba4d13da.png)

[2019-05-27 01:31] Jisoo-Min commented on #73
DynamoDB는 기존 고객에게 광고를 송출할때 read가 발생하고
새로운 고객을 등록할때 write가 발생하는데 이것도 기록을 확인할 수 있다.
![image](https://user-images.githubusercontent.com/24731075/58390108-80f5ec80-806a-11e9-8e44-0c2b9c113493.png)

[2019-05-27 06:42] Jisoo-Min opened #80 "데모시 알고리즘 구현 보여줄 용도로 boosting 트리 그림 만들기"

[2019-05-27 06:49] aaa0265 commented on #80
일반적인 트리 모양
![tree](https://user-images.githubusercontent.com/26623522/58400771-02637400-8097-11e9-9ff0-c734755c67fd.png)

[2019-05-27 06:49] aaa0265 commented on #80
LR 방향 트리 모양
![다운로드](https://user-images.githubusercontent.com/26623522/58400785-0abbaf00-8097-11e9-9fce-706b335619e9.png)

[2019-05-27 08:34] james-sungjae-lee commented on #55
위에 나타난 배치로 우선 진행하도록 한다.

[2019-05-27 08:34] #55 closed, assigned to james-sungjae-lee

[2019-05-27 08:35] james-sungjae-lee commented on #69
현재는 1280 x 720 사이즈로 나오게 하였으며,

해당 사이즈로 데모를 진행하도록 한다.

[2019-05-27 08:35] #69 closed, assigned to james-sungjae-lee

[2019-05-27 08:35] james-sungjae-lee commented on #79
shell script 의 read 기능을 통해 구현하였음.

[2019-05-27 08:35] #79 closed, assigned to james-sungjae-lee

[2019-05-27 08:36] james-sungjae-lee commented on #56
추가적으로, 이미지 resize 를 통한 network 전송량을 줄여 Latency 를  줄일 수도 있을 것 같다.

https://stackoverflow.com/questions/6685500/upload-resized-image-to-s3

해당 코드를 참고하여 테스트해 보도록 한다.

[2019-05-27 09:02] james-sungjae-lee commented on #56
동일한 Network 환경에서 기본 이미지와 (100, 100) Resized 이미지로

S3 업로드 - Rekognition 분석 - 결과 반환에 걸리는 Latency 의 비교이다

<img width="278" alt="Screen Shot 2019-05-27 at 5 58 39 PM" src="https://user-images.githubusercontent.com/20024627/58408690-43648400-80a9-11e9-8925-9c94cdd43616.png">

<img width="282" alt="Screen Shot 2019-05-27 at 5 59 37 PM" src="https://user-images.githubusercontent.com/20024627/58408740-65f

[2019-05-27 09:07] james-sungjae-lee commented on #56
<img width="326" alt="Screen Shot 2019-05-27 at 6 07 57 PM" src="https://user-images.githubusercontent.com/20024627/58409126-5deb2d00-80aa-11e9-83e0-6b6194a2c86b.png">

(100 x 100) 이미지 또한 99.97042846679688 의 Similarity 를 보이므로, resizing 하는 것이 정확도에 문제를 주지는 않을 것으로 보인다.

[2019-05-28 00:02] james-sungjae-lee commented on #56
원본 파일명 : now_filename
변경 파일명 : resize_filename

from PIL import Image

now_filename = 'test_jisoo.PNG'
change_filename = now_filename[:-4] + '_resize.PNG'
resize_ratio = 0.5

im = Image.open(now_filename)
width, height = im.size
print(width, height)
resize_size = (width * resize_ratio, height * resize_ratio)

image = Image.open(now_filename)
image.thumbnail(resize_size, Image.ANTIALIAS)
image.save

[2019-05-28 01:04] aaa0265 commented on #80
텍스트 형식의 트리(round = 100)
![image](https://user-images.githubusercontent.com/26623522/58443876-e8c23b00-812f-11e9-87b8-b47885ea6a14.png)
![image](https://user-images.githubusercontent.com/26623522/58443894-0099bf00-8130-11e9-8b0a-e18151c555cc.png)

[2019-05-28 02:18] aaa0265 commented on #80
모델을 어떤 메소드를 쓰느냐에따라 텍스트형, 그림형으로 트리를 출력할 수 있고 없고가 다른 거 같다

[2019-05-28 05:11] james-sungjae-lee opened #82 "3D 프린팅 기술을 이용한 Jetson TX2 커버 케이스 제작"
현재 Jetson TX2 모듈은 어떠한 케이스 없이 CPU 를 포함한 모든 장치가 드러나있는 상태이다.

이러한 상태에서는 외부의 충격이나 먼지 등에 취약할 수밖에 없으며, 이는 Demo 를 진행할 때도 마찬가지이다.

이에 Jetson TX2 의 커버를 3D 프린팅 기술을 이용해 제작하고자 한다.

관련된 3D 모델링 STL 파일은 Thingiverse 에 오픈소스 형태로 제공되어 있으며,

해당 파일을 gcode 형태로 slicing 하여 출력을 진행하면 된다.

https://www.thingiverse.com/thing:2911861

현재 성곡도서관에 출력을 맡긴 상태이며, 3D WOK 1 환경에서 PLA 79g 에 8.5h 자원이 소모되었다.

[2019-05-28 05:20] james-sungjae-lee commented on #82
3D WOK 1 에 작업을 걸어둔 모습

![IMG_7971](https://user-images.githubusercontent.com/20024627/58452738-62b7eb80-8153-11e9-94a3-7c53ba5c2cc6.jpg)

gcode slicing 모습

![IMG_9542](https://user-images.githubusercontent.com/20024627/58452742-6481af00-8153-11e9-8cf3-7d73524164d9.jpg)

[2019-05-28 10:56] Jisoo-Min commented on #80
쥬피터이용해서 그림 완료했으므로 이슈 닫음!!! 트리가 워낙커서 고화질이여도 잘 안보일듯함!

[2019-05-28 10:56] #80 closed, assigned to aaa0265

[2019-05-28 10:56] Jisoo-Min commented on #73
클라우드워치로 이벤트 시각적으로 볼 수 있음!

[2019-05-28 10:56] #73 closed, assigned to Jisoo-Min

[2019-05-28 10:57] Jisoo-Min commented on #45
오류 해결하였으므로 이슈닫음! 필요시 재오픈!!

[2019-05-28 10:57] #45 closed, assigned to aaa0265

[2019-05-28 10:57] Jisoo-Min commented on #6
깃허브 커밋 또는 md에 관한 에러 모두 해결했으므로 이슈 닫음, 필요시 재 오픈

[2019-05-28 10:57] #6 closed, assigned to james-sungjae-lee, HSOOJ, Jisoo-Min, aaa0265, wldud8463

[2019-05-28 10:58] Jisoo-Min commented on #77
아근데 이거 하면 좋을꺼같긴하네요.... 목요일까지할수있을까욥..? 아니면 저 ui 도 보여주면 설명할께 너무많으니까 생략할까욥.? ㅇㅅㅇ

[2019-05-28 11:01] Jisoo-Min commented on #77
아그리고 4.는 이미 픽스되어있는 구매기록들이라 로그 보여주긴 애매하겟다요!

[2019-05-30 00:19] james-sungjae-lee commented on #82
출력물의 base 를 brim 으로 하여 출력을 시도하였으나, 넓은 바닥 면적으로 인해 문제가 생긴 것으로 보인다.

raft 로 다시 시도하여 출력을 시작하였다.

![IMG_7709](https://user-images.githubusercontent.com/20024627/58599610-03291f80-82bc-11e9-805c-63b24727f055.JPG)

[2019-05-30 02:35] james-sungjae-lee opened #86 "filename_list miss check 의 counter 를 이용한 시스템 안정성 보완"
기존의 시스템에서는 사람에 대한 detection 이 잘 되지 않을 경우 등으로 인해

filename_list 에서 filename 을 찾아내지 못하는 경우가 생기면 즉시 default page 로 이동하였다.

하지만 사람이 서 있음에도 문제가 생기는 경우가 있어, 이를 보완하기 위해 counter 를 사용하여

3회 이상 miss 가 발생하였을 때만 default page 로 이동하도록 수정 및 보완이 필요하다

[2019-05-30 02:37] james-sungjae-lee commented on #86
![Screenshot from 2019-05-30 11-04-24](https://user-images.githubusercontent.com/20024627/58604432-45a82780-82cf-11e9-9df2-b08ef1ed3ebe.png)

위와 같이 miss 여부가 명확하게 표시되며, 3회 이상 miss 되었을 때 default page 로 이동한다

[2019-05-30 02:39] james-sungjae-lee commented on #86
구현을 위해

                    miss_num = 0

변수를 생성하고,

        else:
            print('filelist - miss')
            miss_num = miss_num + 1
            time.sleep(3)
            if miss_num == 3:
                miss_num = 0
                driver.get(default_html)

miss 에 대해 counter 를 증가시키며, default page 가 송출되면 다시 counter 를 0 으로 초기화한다

                    miss_num = 0
            	    driver.get(

[2019-05-30 02:41] james-sungjae-lee commented on #56
IN_CLOSE_WRITE 와 Image 해상도 조정을 통해 1~2초 정도의 시간을 단축하였다.

평균적으로 2.2 ~ 2.5 초 정도의 반응 속도를 보이게 된다

![Screenshot from 2019-05-30 11-30-21](https://user-images.githubusercontent.com/20024627/58604569-c8c97d80-82cf-11e9-89f5-4fcc5e902525.png)

이정도면 Latency 에 대한 보완은 완료된된 것으로 보고, 이슈를 닫는다.

[2019-05-30 02:41] #56 closed, assigned to james-sungjae-lee

[2019-05-30 06:18] #86 closed, assigned to james-sungjae-lee

[2019-05-30 06:19] james-sungjae-lee commented on #82
정상 출력중인 모습이다

![IMG_7788](https://user-images.githubusercontent.com/20024627/58612653-443a2780-82ee-11e9-8f2c-628d57a3eaa0.jpg)

[2019-05-30 06:34] james-sungjae-lee commented on #70
1. Thread 단위로의 모듈화

2. Thread 내부에서, 기능 단위의 모듈화

두 가지 방향으로 모듈화를 진행할 예정이다.

[2019-05-30 08:09] james-sungjae-lee commented on #70
모듈화 테스트를 진행해 보았으나, Thread 단위에서는 global 변수인

filename_list = []
time_list = []

둘의 처리가 까다로우며,

기능 단위의 모듈화는 무의미하다 생각하여 이슈를 닫고 진행하지 않는다.

[2019-05-30 08:09] #70 closed, assigned to james-sungjae-lee

[2019-05-30 23:31] james-sungjae-lee commented on #82
제작 완료

![IMG_5610](https://user-images.githubusercontent.com/20024627/58671679-71ceb180-837e-11e9-923a-4f35e3119f1d.jpg)

[2019-05-30 23:31] #82 closed, assigned to james-sungjae-lee

[2019-05-30 23:34] james-sungjae-lee commented on #77
추가적인 관리자 웹페이지는 구현하지 않도록 한다.

[2019-05-30 23:34] #77 closed, assigned to james-sungjae-lee, Jisoo-Min